<template>
    <section class="tp-teampage-contact">
        <div class="tp-teampage-contact__content container">
            <div class="tp-teampage-contact__titling">
                <h2 class="tp-teampage-contact__titling-title">Станьте частью нашей команды</h2>
                <p class="tp-teampage-contact__titling-desc">Присоединяйтесь к нашей дружной команде! Заполните анкету ниже, и наш отдел рекрутинга мгновенно свяжется с вами для дальнейших инструкций.</p>
            </div>

            <div class="tp-teampage-contact__form">
                <input
                    class="tp-teampage-contact__form-input"
                    placeholder="Ф.И.О"
                    type="text" />
                <input
                    class="tp-teampage-contact__form-input"
                    placeholder="Номер телефона"
                    type="text" />
                <input
                    class="tp-teampage-contact__form-input tp-inputtopic"
                    placeholder="Ваше резюме"
                    type="file" />
                <textarea
                    class="tp-teampage-contact__form-input tp-inputtext"
                    placeholder="Краткая автобиография"></textarea>

                <CompButton
                    class="tp-teampage-contact__form-btn"
                    :tpbtnUid="'button-contact-team'"
                    :tpbtnText="'Отправить'" />
            </div>
        </div>
    </section>
</template>

<script>
import CompButton from "@/components/compButton.vue";

export default {
    name: "section-team-contact",
    components: {CompButton},
};
</script>

<style></style>
