<template>
    <section
        class="tp-teampage-ceo"
        :class="{'tp-active': isOpen}">
        <div class="tp-teampage-ceo__content container">
            <img
                ref="ceoPhoto"
                class="tp-teampage-ceo__image"
                src="@/assets/images/static/users/laylo_akramova.jpg"
                alt="image" />

            <div class="tp-teampage-ceo__info">
                <div
                    ref="ceoMain"
                    class="tp-teampage-ceo__main">
                    <h2 class="tp-teampage-ceo__main-name">
                        Лайло
                        <br />
                        <span>Акрамова</span>
                    </h2>
                    <p class="tp-teampage-ceo__main-job">
                        Основатель туристического агентства под брендом TROPIC TOUR. Получила образование в Сингапуре, и продолжила обучение по направлению "Маркетинга и бизнес управление" в местном Сингапурском институте развития менеджмента в
                        Ташкенте.
                    </p>
                    <img
                        class="tp-teampage-ceo__main-sign"
                        src="@/assets/images/template/sign-2.png"
                        alt="sign" />
                </div>
                <div
                    ref="ceoBio"
                    class="tp-teampage-ceo__bio">
                    <h2 class="tp-teampage-ceo__bio-title">
                        <span>9+</span>
                        лет
                        <br />
                        опыта работы
                    </h2>
                    <p class="tp-teampage-ceo__bio-text">
                        В туризм я пришла в 2015 году. Временами уходила в другие отрасли и имела опыт работы в отельном бизнесе под брендом "HYATT REGENCY", в Французском представительстве VEOLIA, в UZPROMSTROYBANK и в других различных крупных
                        организациях.
                    </p>
                    <CompButton
                        @click.native="theOpen"
                        class="tp-teampage-ceo__bio-btn"
                        :tpbtnUid="'link-ceo-main'"
                        :tpbtnText="`Подробнее`" />
                </div>
                <div
                    class="tp-teampage-ceo__more"
                    @scroll="setClass($event)">
                    <p class="tp-teampage-ceo__more-txt">
                        Я
                        <strong>Акрамова Лайло</strong>
                        основатель туристического агентства под брендом TROPIC TOUR. Получила образование в Сингапуре, и продолжила обучение по направлению "Маркетинга и бизнес управление" в местном Сингапурском институте развития менеджмента в
                        Ташкенте.
                    </p>

                    <p class="tp-teampage-ceo__more-txt">
                        В туризм я пришла в 2015 году. Временами уходила в другие отрасли и имела опыт работы в отельном бизнесе под брендом "HYATT REGENCY", в Французском представительстве VEOLIA, в UZPROMSTROYBANK и в других различных крупных
                        организациях.
                    </p>

                    <p class="tp-teampage-ceo__more-txt">
                        Cо временем поняла что с туризмом у меня особая связь, и последние 3 года я работала в найме. В 2023 году решила основать своё туристическое агентство. Глубоко признательна за поддержку и преданность моей выдающейся команде,
                        без которой я бы не осмелилась воплотить свою мечту в жизнь и открыть свой бизнес.
                    </p>

                    <p class="tp-teampage-ceo__more-txt">
                        За годы работы в туризме имела возможность успешного руководство и реализацией крупномасштабных локальных проектов в туристической отрасли так же внесла значительный вклад в реализацию государственных проектов, направленных на
                        развитие туризма.
                    </p>

                    <p class="tp-teampage-ceo__more-txt">
                        "Путешествуй без границ" - это не просто наш девиз, а воплощение нашего видения и миссии. Мы верим, что путешествия должны быть доступны каждому, независимо от границ и препятствий. Мы стремимся создавать незабываемые
                        впечатления для наших туристов, позволяя им исследовать мир в полной мере.
                    </p>

                    <div class="tp-teampage-ceo__more-socials">
                        <a
                            href="https://t.me/laleli_ak"
                            target="_blank"
                            class="tp-teampage-ceo__more-social">
                            <img
                                class="tp-teampage-ceo__more-socialicon"
                                src="@/assets/icons/icon-soc-telegram.svg"
                                alt="telegram" />
                        </a>
                        <a
                            href="https://instagram.com"
                            target="_blank"
                            class="tp-teampage-ceo__more-social">
                            <img
                                class="tp-teampage-ceo__more-socialicon"
                                src="@/assets/icons/icon-soc-instagram.svg"
                                alt="telegram" />
                        </a>
                    </div>

                    <CompButton
                        class="tp-teampage-ceo__bio-btn"
                        :tpbtnUid="'button-contact-ceo'"
                        :tpbtnText="`Связаться`" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import CompButton from "@/components/compButton.vue";

export default {
    name: "section-team-ceo",
    components: {CompButton},
    data() {
        return {
            isOpen: null,
        };
    },
    methods: {
        theOpen() {
            setTimeout(() => {
                this.$refs.ceoMain.classList.add("tp-hide");
                this.$refs.ceoBio.classList.add("tp-hide");
            }, 200);

            setTimeout(() => {
                this.$refs.ceoPhoto.classList.add("tp-hide");
            }, 800);

            setTimeout(() => {
                this.isOpen = true;
            }, 1400);
        },
        setClass(el) {
            el.target.classList.add("scrolled");
        },
    },
};
</script>
