<template>
    <section class="tp-teampage-staff">
        <div class="tp-teampage-staff__content container">
            <div class="tp-teampage-staff__titling">
                <h2 class="tp-teampage-staff__titling-title">Наши эксперты не похожие ни на кого</h2>
                <p class="tp-teampage-staff__titling-desc">
                    Сотрудничайте с нашей командой мыслителей и отраслевых экспертов, чтобы вывести свои пожелания комфортного отдыха на новый уровень. Мы проконсультировались с ведущими умами мира и создали инновационные решения, которые преобразуют
                    ваш отдых на нечто незабываемое.
                </p>
            </div>

            <div class="tp-teampage-staff__list">
                <div
                    v-for="(person, index) in thestaff"
                    :key="'card_' + index"
                    :class="{active: current == index}"
                    @click="current = current == index ? null : index"
                    class="tp-teampage-staff__card tp-staffcard">
                    <p class="tp-staffcard__nickname">{{ person.nickname }}</p>
                    <img
                        class="tp-staffcard__image"
                        :src="person.image"
                        alt="user" />

                    <div class="tp-staffcard__body">
                        <h3 class="tp-staffcard__body-name">{{ person.name }}</h3>
                        <p class="tp-staffcard__body-job">{{ person.job }}</p>
                        <div
                            class="tp-staffcard__body-desc"
                            v-html="person.desc"></div>

                        <div
                            class="tp-staffcard__socials"
                            v-if="person.socials.length">
                            <a
                                v-for="(social, index) in person.socials"
                                :key="'social_' + index"
                                :href="getlink(social)"
                                target="_blank"
                                class="tp-staffcard__social">
                                <img
                                    class="tp-staffcard__social-icon"
                                    :src="require(`@/assets/icons/icon-soc-${social.type}.svg`)"
                                    :alt="social.type" />
                            </a>
                        </div>
                        <CompButton
                            class="tp-staffcard__btn"
                            :tpbtnUid="`link-contact-${person.nickname}`"
                            :tpbtnText="`Связаться с ${person.nickname}`" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import CompButton from "@/components/compButton.vue";

export default {
    name: "section-team-staff",
    components: {CompButton},
    data() {
        return {
            current: null,
            thestaff: null,
        };
    },
    mounted() {
        fetch("/data/staff.json")
            .then((response) => response.json())
            .then((staff) => {
                this.thestaff = staff;
            })
            .catch((error) => console.error("Error loading the JSON:", error));
    },
    methods: {
        getlink(social) {
            const linkPrefix = {
                phone: "tel:",
                telegram: "https://t.me/",
                instagram: "https://www.instagram.com/",
                // Add more social types here if needed
            };

            const prefix = linkPrefix[social.type];
            if (prefix) {
                return prefix + social.link;
            }
        },
    },
};
</script>
