<template>
    <div>
        <SectionTheIntro
            :sectionBackground="require('@/assets/images/static/intro-bgs/team.jpg')"
            :sectionCrumbs="[
                {label: 'Главная', link: '/'},
                {label: 'Наша команда', link: '/team'},
            ]"
            :sectionTitle="'Команда профессионалов'"
            :sectionSubtitle="'Опытные профессионалы, готовые сделать ваш отдых незабываемым'" />

        <SectionCEO />
        <SectionStaff />
        <SectionContact />
    </div>
</template>

<script>
import SectionTheIntro from "@/components/compIntroSection.vue";
import SectionCEO from "./sectionCEO.vue";
import SectionStaff from "./sectionStaff.vue";
import SectionContact from "./sectionContact.vue";

export default {
    name: "page-team",
    components: {
        SectionTheIntro,
        SectionCEO,
        SectionStaff,
        SectionContact,
    },
};
</script>
