<template>
    <div>
        <SectionTheIntro
            :sectionBackground="require('@/assets/images/static/intro-bgs/reviews.jpg')"
            :sectionCrumbs="[
                {label: 'Главная', link: '/'},
                {label: 'Отзывы', link: '/reviews'},
            ]"
            :sectionTitle="'Впечатления наших туристов'"
            :sectionSubtitle="'Истории наших туристов - искренние, захватывающие и полные восторга. Погрузитесь в мир их впечатлений.'" />

        <SectionRegulars />
        <SectionCorps />
    </div>
</template>

<script>
import SectionTheIntro from "@/components/compIntroSection.vue";
import SectionRegulars from "./sectionRegularReviews.vue";
import SectionCorps from "./sectionCorpReviews.vue";

export default {
    name: "page-reviews",
    components: {
        SectionTheIntro,
        SectionRegulars,
        SectionCorps,
    },
};
</script>
