<template>
    <section class="tp-revpage-corp">
        <div class="tp-revpage-corp__content container">
            <div
                ref="reviews__swiper"
                class="tp-revpage-corp__swiper swiper">
                <fancyBox
                    class="tp-revpage-corp__list swiper-wrapper"
                    :options="{
                        Carousel: {
                            infinite: false,
                            bounce: false,
                        },
                    }">
                    <div
                        v-for="item in 6"
                        :key="item"
                        data-fancybox="corporate"
                        :href="require(`@/assets/images/template/corporates/corp-${item}.jpg`)"
                        class="tp-revpage-corp__item tp-revcard--corp swiper-slide">
                        <img
                            class="tp-revcard--corp__image"
                            :src="require(`@/assets/images/template/corporates/corp-${item}.jpg`)"
                            alt="photo" />
                    </div>
                </fancyBox>
            </div>
            <div class="tp-revpage-corp__titling">
                <h2 class="tp-revpage-corp__titling-title">Корпоративные отзывы</h2>
                <p class="tp-revpage-corp__titling-desc">Нам доверяют не только частные туристы, но и целые корпорации. Мы стараемся учесть все требования наших корпоративных заказчиков, и благодарственные письма – лучшее тому подтверждение.</p>
            </div>
        </div>
    </section>
</template>

<script>
import fancyBox from "@/components/compFancyBox.vue";

import Swiper, {Autoplay} from "swiper";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/autoplay";

export default {
    name: "section-reviews-corporate",
    components: {
        fancyBox,
    },
    mounted() {
        new Swiper(this.$refs.reviews__swiper, {
            modules: [Autoplay],
            loop: true,
            spaceBetween: 10,
            slidesPerView: 1,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
                pauseOnMouseEnter: true,
            },
            breakpoints: {
                576: {
                    slidesPerView: 2,
                },
            },
        });
    },
};
</script>
