<template>
    <section class="tp-revpage-reglr">
        <div class="tp-revpage-reglr__content container">
            <div class="tp-revpage-reglr__titling">
                <h2 class="tp-revpage-reglr__titling-title">Отзывы туристов</h2>
                <p class="tp-revpage-reglr__titling-desc">Создание незабываемых воспоминаний для каждого туриста – наша главная цель, и благодарные отзывы – лучшее подтверждение этому.</p>
            </div>
            <div
                ref="reviews__swiper"
                class="tp-revpage-reglr__swiper swiper">
                <div class="tp-revpage-reglr__list swiper-wrapper">
                    <div
                        v-for="(item, index) in thereviews"
                        :key="'item_' + index"
                        class="tp-revpage-reglr__item tp-revcard swiper-slide">
                        <h3 class="tp-revcard__user">{{ item.user }}</h3>
                        <p class="tp-revcard__job">{{ item.job }}</p>
                        <div
                            class="tp-revcard__rating"
                            :data-rating="item.rating">
                            <img
                                v-for="item in 5"
                                :key="item"
                                src="@/assets/icons/icon-star.svg"
                                alt="star" />
                        </div>
                        <p class="tp-revcard__text">{{ item.text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Swiper, {Autoplay} from "swiper";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/autoplay";

export default {
    name: "section-reviews-regular",
    mounted() {
        new Swiper(this.$refs.reviews__swiper, {
            modules: [Autoplay],
            loop: true,
            spaceBetween: 10,
            slidesPerView: 1,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
                pauseOnMouseEnter: true,
            },
            breakpoints: {
                768: {
                    slidesPerView: 2,
                    spaceBetween: 30,
                },
            },
        });
        fetch("/data/reviews.json")
            .then((response) => response.json())
            .then((reviews) => {
                this.thereviews = reviews;
            })
            .catch((error) => console.error("Error loading the JSON:", error));
    },

    data() {
        return {
            thereviews: null,
        };
    },
};
</script>
