<template>
    <section class="tp-visapage-get">
        <div class="tp-visapage-get__content container">
            <div class="tp-visapage-get__titling">
                <h1 class="tp-visapage-get__titling-title">Оформление визы вместе с Tropic-tour - это легко и удобно</h1>
                <div class="tp-visapage-get__titling-actions">
                    <button
                        class="tp-visapage-get__titling-btn"
                        :class="{disabled: thestep == 1}"
                        @click="decrease"></button>
                    <button
                        class="tp-visapage-get__titling-btn"
                        :class="{disabled: thestep == 5}"
                        @click="increase"></button>
                </div>
            </div>
            <div class="tp-visapage-get__steps">
                <div
                    v-for="(item, index) in thesteps"
                    :key="index"
                    :class="{'tp-active': thestep >= index + 1}"
                    class="tp-visapage-get__step">
                    <div class="tp-visapage-get__step-round">
                        <span class="tp-visapage-get__step-count">{{ index + 1 }}</span>
                        <img
                            class="tp-visapage-get__step-icon"
                            :src="item.icon"
                            alt="icon" />
                    </div>
                    <p class="tp-visapage-get__step-title">{{ item.title }}</p>
                    <p class="tp-visapage-get__step-text">{{ item.desc }}</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-visasupport-get",
    components: {},
    data() {
        return {
            thestep: 1,
            thesteps: [
                {
                    icon: require("@/assets/icons/icon-visasup-2.svg"),
                    title: "Подбор тура и консультация:",
                    desc: "Свяжитесь с нами удобным для Вас способом, чтобы получить консультацию и подобрать подходящий тур с нашими опытными агентами",
                },
                {
                    icon: require("@/assets/icons/icon-visasup-1.svg"),
                    title: "Сбор необходимых документов:",
                    desc: "После выбора тура предоставьте нам документ, удостоверяющий вашу личность, а также другие необходимые документы",
                },
                {
                    icon: require("@/assets/icons/icon-visasup-3.svg"),
                    title: "Подача заявления и ожидание решения:",
                    desc: "После успешного сбора документов необходима предварительная запись для подачи заявления далее личная подача в визовый центр и консульство",
                },
                {
                    icon: require("@/assets/icons/icon-visasup-4.svg"),
                    title: "Процесс рассмотрения:",
                    desc: "(по запросу могут потребовать доп. информацию) Сроки ожидания решения варьируются в зависимости от страны подачи и загруженности консульства, обычно процесс занимает 10-15 рабочих дней",
                },
                {
                    icon: require("@/assets/icons/icon-visasup-5.svg"),
                    title: "Получение визы и подготовка к поездке:",
                    desc: "После успешного прохождения всех этапов тщательно проверьте визу. Убедитесь, что все данные верны, включая ваше имя, номер паспорта, даты поездки и количество разрешенных въездов.",
                },
            ],
        };
    },
    methods: {
        increase() {
            if (this.thestep == 5) {
                return;
            } else {
                this.thestep += 1;
            }
        },
        decrease() {
            if (this.thestep == 1) {
                return;
            } else {
                this.thestep -= 1;
            }
        },
    },
};
</script>
