<template>
    <section class="tp-visapage-main">
        <div class="tp-visapage-main__content container">
            <div class="tp-visapage-main__titling">
                <h1 class="tp-visapage-main__titling-title">Tropic tour в номерах на сегодняшний день</h1>
                <p class="tp-visapage-main__titling-desc">
                    Самым сложным аспектом в организации туров, безусловно, является процесс получения виз в различные страны. Наша высококвалифицированная команда с успехом поддерживает всех туристов на каждом этапе этого процесса, обеспечивая
                    успешное оформление необходимых документов.
                </p>
            </div>
            <div class="tp-visapage-main__list">
                <div
                    v-for="(item, index) in thedata"
                    :key="index"
                    class="tp-visapage-main__item tp-visacard">
                    <img
                        :src="item.icon"
                        alt="image"
                        class="tp-visacard__icon" />

                    <span class="tp-visacard__count">{{ item.count }}</span>
                    <p class="tp-visacard__title">{{ item.title }}</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-visasupport-main",
    components: {},
    data() {
        return {
            thedata: [
                {
                    icon: require("@/assets/icons/icon-visa-1.svg"),
                    count: "150+",
                    title: "Виз, оформленых в страны северной америки (США, Канада)",
                },
                {
                    icon: require("@/assets/icons/icon-visa-2.svg"),
                    count: "450+",
                    title: "Виз, оформленых в страны Шенгенской зоны",
                },
                {
                    icon: require("@/assets/icons/icon-visa-3.svg"),
                    count: "1400+",
                    title: "Виз, оформленых в страны восточного мира",
                },
                {
                    icon: require("@/assets/icons/icon-visa-4.svg"),
                    count: "3k+",
                    title: "Виз, оформленых по всему миру",
                },
            ],
        };
    },
};
</script>
