<template>
    <div>
        <SectionTheIntro
            :sectionBackground="require('@/assets/images/static/intro-bgs/visasupport.jpg')"
            :sectionCrumbs="[
                {label: 'Главная', link: '/'},
                {label: 'Визовая поддержка', link: '/visasupport'},
            ]"
            :sectionTitle="'Визы в США, Великобританию <br> Шенген без хлопот!'"
            :sectionSubtitle="'Надежная визовая поддержка для незабываемых путешествий.'" />

        <SectionStats />
        <SectionSteps />
        <SectionContact />
    </div>
</template>

<script>
import SectionTheIntro from "@/components/compIntroSection.vue";
import SectionContact from "@/views/home/sectionContact.vue";
import SectionStats from "./sectionStats.vue";
import SectionSteps from "./sectionGetvisa.vue";

export default {
    name: "page-visasupport",
    components: {
        SectionTheIntro,
        SectionStats,
        SectionSteps,
        SectionContact,
    },
};
</script>
