<template>
    <div>
        <SectionTheIntro
            :sectionBackground="require('@/assets/images/static/intro-bgs/individual.jpg')"
            :sectionCrumbs="[
                {label: 'Главная', link: '/'},
                {label: 'Индивидуальные туры', link: '/individuals'},
            ]"
            :sectionTitle="'Туры на каждый вкус'"
            :sectionSubtitle="'Мы проработаем над каждой деталью тура для полного вашего удовлетвориения'" />

        <SectionMain />
        <SectionList />
        <SectionContact />
    </div>
</template>

<script>
import SectionTheIntro from "@/components/compIntroSection.vue";
import SectionMain from "./sectionMain.vue";
import SectionList from "./sectionList.vue";
import SectionContact from "./sectionContact.vue";

export default {
    name: "page-individuals",
    components: {
        SectionTheIntro,
        SectionMain,
        SectionList,
        SectionContact,
    },
};
</script>
