<template>
    <section class="tp-indspage-main">
        <div class="tp-indspage-main__content container">
            <div class="tp-indspage-main__titling">
                <h1 class="tp-indspage-main__titling-title">Индивидуальный туризм</h1>
                <p class="tp-indspage-main__titling-desc">
                    Индивидуальный туризм с каждым годом становится всё более востребованным. Это и понятно, ведь такое путешествие позволяет побывать там, где хочется, сколько хочется и как хочется! Подбор и организация данного вида отдыха —
                    интересная, но далеко не простая задача.
                </p>
            </div>
            <div class="tp-indspage-main__list">
                <div
                    v-for="(item, index) in thetours"
                    :key="'card_' + index"
                    class="tp-indspage-main__item tp-indcard">
                    <div class="tp-indcard__image">
                        <img
                            class="tp-indcard__image-file"
                            :src="item.image"
                            alt="image" />
                        <p class="tp-indcard__price">
                            <span>от</span>
                            {{ item.price }}
                            <span>{{ item.ccy }}</span>
                        </p>
                    </div>
                    <div class="tp-indcard__body">
                        <p class="tp-indcard__location">{{ item.location }}</p>
                        <h3 class="tp-indcard__title">{{ item.title }}</h3>
                        <p class="tp-indcard__desc">{{ item.desc }}</p>
                        <p class="tp-indcard__duration">{{ item.duration }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-individuals-main",
    components: {},
    data() {
        return {
            thetours: [
                {
                    image: require("@/assets/images/template/individuals/item-1.jpg"),
                    price: "60 000",
                    ccy: "USD",
                    location: "Kyoto",
                    title: "Жемчужина востока",
                    desc: "Организация незабываемого свадебного мероприятия которая запомнится на всю жизнь",
                    duration: "15-20 дней",
                },
                {
                    image: require("@/assets/images/template/individuals/item-2.jpg"),
                    price: "20 000 000",
                    ccy: "UZS",
                    location: "Dubai",
                    title: "В центре внимания",
                    desc: "Шоппинг под любой ваш вкус в самом сердце Дубай молл в магазинах всемирно известных брендовых магазинах",
                    duration: "6-7 дней",
                },
                {
                    image: require("@/assets/images/template/individuals/item-3.jpg"),
                    price: "55 000",
                    ccy: "USD",
                    location: "Antarctica",
                    title: "Экспедиция к Южному Полюсу",
                    desc: "Неповторимое путешествие к самому краю Земли с изучением ледников и дикой природы",
                    duration: "10-12 дней",
                },
                {
                    image: require("@/assets/images/template/individuals/item-4.jpg"),
                    price: "4 500 000",
                    ccy: "JPY",
                    location: "Tokyo",
                    title: "Погружение в культуру самураев",
                    desc: "Изучение самурайской культуры с посещением древних храмов и тренировок с мастерами боевых искусств",
                    duration: "5 дней",
                },
                {
                    image: require("@/assets/images/template/individuals/item-5.jpg"),
                    price: "50 000",
                    ccy: "USD",
                    location: "Amazon Rainforest",
                    title: "Джунгли Амазонки",
                    desc: "Экспедиция в глубь тропического леса Амазонки с гидом-натуралистом и проживанием в эко-лагере",
                    duration: "8-10 дней",
                },
                // {
                // image: require("@/assets/images/template/individuals/item-1.jpg"),//
                // price: "2 500 000",
                //     ccy: "INR",
                //     location: "Kerala, India",
                //     title: "Аюрведический ретрит",
                //     desc: "Расслабляющий и восстанавливающий ретрит с аюрведическими процедурами на берегу Индийского океана",
                //     duration: "7 дней",
                // },
                {
                    image: require("@/assets/images/template/individuals/item-7.jpg"),
                    price: "120 000",
                    ccy: "USD",
                    location: "Galapagos Islands",
                    title: "Дары эволюции",
                    desc: "Путешествие по островам Галапагос с наблюдением за уникальной фауной и флорой",
                    duration: "10 дней",
                },
                {
                    image: require("@/assets/images/template/individuals/item-8.jpg"),
                    price: "3 000 000",
                    ccy: "IDR",
                    location: "Bali, Indonesia",
                    title: "Тайны храмов Бали",
                    desc: "Исследование древних храмов и участие в традиционных церемониях острова Бали",
                    duration: "7 дней",
                },
                // {
                // image: require("@/assets/images/template/individuals/item-1.jpg"),//
                // price: "35 000",
                //     ccy: "USD",
                //     location: "Trans-Siberian Railway",
                //     title: "Транссибирское путешествие",
                //     desc: "Незабываемое путешествие по Транссибирской магистрали от Москвы до Владивостока",
                //     duration: "14 дней",
                // },
                // {
                // image: require("@/assets/images/template/individuals/item-1.jpg"),//
                // price: "8 000 000",
                //     ccy: "KRW",
                //     location: "Seoul, South Korea",
                //     title: "Виртуальные миры",
                //     desc: "Погружение в мир современных технологий и виртуальной реальности в технологическом центре Сеула",
                //     duration: "5 дней",
                // },
                {
                    image: require("@/assets/images/template/individuals/item-9.jpg"),
                    price: "10 000 000",
                    ccy: "ZAR",
                    location: "South Africa",
                    title: "Большая пятерка",
                    desc: "Сафари-тур по национальным паркам Южной Африки с наблюдением за 'большой пятеркой'",
                    duration: "7 дней",
                },
            ],
        };
    },
};
</script>
