<template>
    <section class="tp-teampage-contact">
        <div class="tp-teampage-contact__content container">
            <div class="tp-teampage-contact__titling">
                <h2 class="tp-teampage-contact__titling-title">Мечтаете о чём-то особенном?</h2>
                <p class="tp-teampage-contact__titling-desc">
                    Не нашли идеальный тур? Поделитесь своей мечтой с нами! Заполните заявку, и наши специалисты свяжутся с вами, чтобы создать уникальное путешествие, соответствующее вашим желаниям и интересам. Мы воплотим ваши мечты в реальность!
                </p>
            </div>
            <CompLeaveapp2 />
        </div>
    </section>
</template>

<script>
import CompLeaveapp2 from "@/components/compLeaveapp2.vue";

export default {
    name: "section-individuals-contact",
    components: {CompLeaveapp2},
};
</script>

<style></style>
