<template>
    <section class="tp-indspage-list">
        <div class="tp-indspage-list__content container">
            <div class="tp-indspage-list__titling">
                <h2 class="tp-indspage-list__titling-title">
                    Мы предлагаем индивидуальные туры
                    <br />
                    на любой вкус и бюджет
                </h2>
                <p class="tp-indspage-list__titling-desc">Под индивидуальным туром наши профессионалы предлагают вам незабываемые ощущения по самым разным видам отдыха</p>
            </div>
            <div class="tp-indspage-list__items">
                <div
                    v-for="(item, index) in thelist"
                    :key="'el_' + index"
                    class="tp-indspage-list__item indcard">
                    <img
                        class="indcard__icon"
                        :src="item.icon"
                        alt="icon" />
                    <p class="indcard__title">{{ item.title }}</p>
                </div>
            </div>
            <p class="tp-indspage-list__desc">И это лишь некоторые из возможных вариантов! Наши профессионалы могут разработать индивидуальный тур, который будет соответствовать любым вашим интересам и желаниям.</p>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-individuals-list",
    components: {},
    data() {
        return {
            thelist: [
                {
                    icon: require("@/assets/icons/icon-ind-1.svg"),
                    title: "Посещение экзотических мест",
                },
                {
                    icon: require("@/assets/icons/icon-ind-2.svg"),
                    title: "Отдых на небольших и труднодоступных островах",
                },
                {
                    icon: require("@/assets/icons/icon-ind-3.svg"),
                    title: "Международные спортивные соревнования",
                },
                {
                    icon: require("@/assets/icons/icon-ind-4.svg"),
                    title: "Ознакомление с достоприме-чательностями",
                },
                {
                    icon: require("@/assets/icons/icon-ind-5.svg"),
                    title: "Свадeбные мероприятия за границей",
                },
                {
                    icon: require("@/assets/icons/icon-ind-6.svg"),
                    title: "Лечебные и образовательные туры",
                },
                {
                    icon: require("@/assets/icons/icon-ind-7.svg"),
                    title: "Шопинг у магазинов известных брендов",
                },
                {
                    icon: require("@/assets/icons/icon-ind-8.svg"),
                    title: "Новогодние праздничные туры",
                },
                {
                    icon: require("@/assets/icons/icon-ind-9.svg"),
                    title: "Гастрономические туры",
                },
                {
                    icon: require("@/assets/icons/icon-ind-10.svg"),
                    title: "Авторские туры",
                },
                {
                    icon: require("@/assets/icons/icon-ind-11.svg"),
                    title: "Экологически организованные туры",
                },
                {
                    icon: require("@/assets/icons/icon-ind-12.svg"),
                    title: "Фото-туры",
                },
                {
                    icon: require("@/assets/icons/icon-ind-13.svg"),
                    title: "Туры на круизных лайнерах",
                },
                {
                    icon: require("@/assets/icons/icon-ind-14.svg"),
                    title: "Путешествия на поезде",
                },
                {
                    icon: require("@/assets/icons/icon-ind-15.svg"),
                    title: "Путешествия на автомобиле",
                },
                {
                    icon: require("@/assets/icons/icon-ind-16.svg"),
                    title: "Путешествия на пеших прогулках",
                },
            ],
        };
    },
};
</script>
