<!DOCTYPE html>
<html lang="">
    <head>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({"gtm.start": new Date().getTime(), event: "gtm.js"});
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-NC6QKM59");
        </script>
        <!-- End Google Tag Manager -->

        <script>
            Element.prototype._attachShadow = Element.prototype.attachShadow;
            Element.prototype.attachShadow = function () {
                return this._attachShadow({mode: "open"});
            };
        </script>

        <meta charset="utf-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0" />
        <link
            rel="icon"
            href="<%= BASE_URL %>favicon.png" />
        <title>Tropic Tour | Путешевствовать с нами легко</title>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <div id="yandex_rtb_R-A-11857196-1"></div>

        <noscript>
            <iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-NC6QKM59"
                height="0"
                width="0"
                style="display: none; visibility: hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
