@keyframes breathing {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.15) rotate(1deg);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes headerAppear {
    from {
        transform: translateY(-180px);
    }

    to {
        transform: translateY(-60px);
    }
}

@keyframes twinkler {
    0% {
        transform: scale(0) rotate(0);
    }
    40% {
        transform: scale(1.25) rotate(360deg);
    }
    80% {
        transform: scale(0.35) rotate(0deg);
    }
    100% {
        transform: scale(0) rotate(0);
    }
}

@keyframes scaler {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(81, 142, 240, 0.4);
        box-shadow: 0 0 0 0 rgba(81, 142, 240, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 40px rgba(81, 142, 240, 0);
        box-shadow: 0 0 0 40px rgba(81, 142, 240, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(81, 142, 240, 0);
        box-shadow: 0 0 0 0 rgba(81, 142, 240, 0);
    }
}

@keyframes rear-grow {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.9);
    }
}

@keyframes fade-out {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotater {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 992px) {
    @keyframes headerAppear {
        from {
            transform: translateY(-100px);
        }

        to {
            transform: translateY(0px);
        }
    }
}
