<template>
    <div class="tp-constr">
        <div class="tp-constr__content container">
            <img
                class="tp-constr__image"
                src="@/assets/animations/cashback.gif"
                alt="crane" />
            <h1 class="tp-constr__title">Упс... Веб-сайт заблокирован из-за неоплаты услуг разработчика</h1>
            <p class="tp-constr__desc">
                К сожалению, доступ к данному веб-сайту временно приостановлен в связи с неоплаченной работой. Мы приносим свои извинения за доставленные неудобства. Для разрешения ситуации, пожалуйста, свяжитесь с представителями нашего агентства.
            </p>
        </div>
    </div>
</template>

<script>
export default {
    name: "page-payment",
    props: {
        blockPage: {
            type: String,
        },
    },
};
</script>
