<template>
    <SectionConstruction :blockPage="'Все туры'" />
</template>

<script>
import SectionConstruction from "@/components/compConstruction.vue";

export default {
    name: "page-tours",
    components: {
        SectionConstruction,
    },
};
</script>
