.tp-tours {
    padding: 50px 0;

    &__titling {
        background: url("@/assets/images/template/introslide-3.jpg") no-repeat center center/cover;
        min-height: 400px;
        padding: 70px 0 100px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;

        &-title {
            margin-bottom: 15px;
            font: 700 40px / 1.1 "Montserrat";
            color: #fff;
            position: relative;
            z-index: 1;
        }

        &-desc {
            font: 15px / 1.6 "Montserrat";
            color: #999;
            position: relative;
            width: 60%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            z-index: 1;

            &::after {
                display: block;
                width: 70px;
                content: "";
                background: url("@/assets/images/static/img-decore.png") no-repeat center center/contain;
                height: 5px;
                opacity: 0.7;
            }
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.75);
            content: "";
        }
    }

    &__list {
        position: relative;
        z-index: 2;
        margin: -60px 0 0 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        row-gap: 50px;
    }

    &__seeall {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }

    &__stats {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    &__stat {
        background: #8d42e3;
        width: 100%;
        height: 310px;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;

        &-image {
            width: 80px;
            height: 80px;
            display: flex;
            object-fit: contain;
        }

        &-count {
            font-size: 48px;
            font-weight: 600;
            line-height: 1.4;
            color: #fff;
        }

        &-label {
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            width: 60%;
            line-height: 1.4;
            text-align: center;
        }

        &:nth-child(2) {
            background: #cfbb76;
            margin: 40px 0 0 0;
        }
        &:nth-child(3) {
            background: #1fcdc2;
        }
        &:nth-child(4) {
            background: #dc5356;
            margin: 40px 0 0 0;
        }
    }

    .tp-tourcard {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        min-height: 340px;
        transition: 0.3s;

        &__image {
            width: 100%;
            aspect-ratio: 3 / 2;
            overflow: hidden;
            object-fit: cover;
            transition: 0.3s;
        }

        &__title {
            display: block;
            min-height: 42px;
            padding-top: 2px;
            font: 700 16px / 1.4 "Montserrat";
            flex-shrink: 0;
            max-width: 60%;
            overflow: hidden;
            @include limitLine(2);
        }

        &__pricebar {
            display: flex;
            width: 100%;
            margin: 15px 0;
            border-bottom: 1px solid #ddd;
            padding: 0 0 15px 0;
        }

        &__price {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            flex-grow: 1;
            font: 700 17px "Montserrat";
            max-width: 60%;
            color: $accent;

            span {
                font-size: 12px;
                color: #666666;
                font-weight: 500;
            }
        }

        &__info {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 2px 0;
            text-align: left;
            color: #555555;
            font-size: 14px;

            &-icon {
                width: 15px;
                height: 15px;
                display: flex;
                object-fit: contain;
            }
        }

        &:hover {
            transform: scale(1.02);
        }
    }
}

@media (max-width: 992px) {
    .tp-tours {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }

        &__stat {
            padding: 20px;
            overflow: hidden;
            height: 260px;

            &-count {
                font-size: 34px;
            }
            &-label {
                width: 100%;
                font-size: 14px;
                word-break: break-word;
            }
        }

        .tp-tourcard {
            &:nth-last-child(-n + 2) {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .tp-tours {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__titling {
            &-desc {
                width: 90%;
            }
        }

        &__stats {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30px;
            row-gap: 0;
        }

        &__stat {
            &-count {
                font-size: 44px;
            }
        }

        .tp-tourcard {
            &:nth-last-child(-n + 2) {
                display: unset;
            }
        }
    }
}

@media (max-width: 576px) {
    .tp-tours {
        padding: 0 0 50px 0;

        &__titling {
            min-height: 200px;

            &-title {
                font-size: 28px;
            }

            &-desc {
                font-size: 14px;
            }
        }

        &__list {
            column-gap: 15px;
            row-gap: 25px;
        }

        &__stats {
            column-gap: 15px;
            row-gap: 0;
        }

        &__stat {
            aspect-ratio: 1 / 1.25;
            height: auto;
            overflow: hidden;
            justify-content: flex-start;
            gap: 10px;

            &-image {
                width: 50%;
                object-fit: contain;
                height: auto;
                margin: auto;
            }

            &-count {
                font-size: 34px;
                font-weight: bold;
                margin: auto 0 0 0;
            }

            &:nth-child(2),
            &:nth-child(4) {
                margin: 20px 0 0 0;
            }
        }

        .tp-tourcard {
            min-height: unset;
            flex-direction: column;

            &__image {
                aspect-ratio: 3 / 1.5;
            }

            &__title {
                min-height: auto;
                font: 700 14px / 1.4 "Montserrat";
                max-width: 100%;
                @include limitLine(2);
            }

            &__pricebar {
                display: flex;
                gap: 10px;
                flex-direction: column;
                width: 100%;
                margin: 10px 0;
                border-bottom: 1px solid #ddd;
                padding: 0;
            }

            &__price {
                font: 700 16px "Montserrat";
                max-width: 100%;
                color: $accent;
                align-items: flex-start;
                gap: 0;
                margin: 0 0 10px 0;
            }

            &__info {
                gap: 5px;
                font-size: 12px;
            }

            // &:hover {
            //     transform: scale(1.02);
            // }
        }
    }
}
