.tp-teampage-staff {
    padding: 100px 0 50px 0;

    &__titling {
        text-align: center;

        &-title {
            margin-bottom: 15px;
            font: 700 40px / 1.1 "Montserrat";
            color: #333;
            position: relative;
            z-index: 1;
        }

        &-desc {
            font: 15px / 1.6 "Montserrat";
            color: #999;
            position: relative;
            width: 60%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            z-index: 1;

            &::after {
                display: block;
                width: 70px;
                content: "";
                background: url("@/assets/images/static/img-decore.png") no-repeat center center/contain;
                height: 5px;
                opacity: 0.7;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 20px;
        // overflow: hidden;
        padding: 50px 0 100px 0;

        .tp-staffcard {
            width: 500px;
            max-height: 350px;
            transition: 0.8s;
            display: flex;
            overflow: hidden;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            &__nickname {
                font-size: 12px;
                color: #999;
                margin: 0 auto 5px 0;
            }

            &__image {
                width: 100%;
                height: 350px;
                flex-shrink: 0;
                object-fit: cover;
                object-position: top;
                transition: 0.3s;
                filter: grayscale(1);
            }

            &__body {
                width: 500px;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 20px 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                transition: 0.6s;
                opacity: 0;

                &-name {
                    font-size: 18px;
                    font-weight: 700;
                }

                &-job {
                    font-size: 16px;
                    font-weight: 700;
                    color: #999;
                }

                &-desc {
                    font-size: 14px;
                    line-height: 1.4;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }

            &__socials {
                display: flex;
                gap: 20px;
                margin: 15px 0 10px 0;
            }

            &__social {
                width: 25px;
                height: 25px;
                display: flex;
                object-fit: contain;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    opacity: 0.3;
                }
            }

            &.active {
                flex-shrink: 0;
                max-height: 150vh;

                .tp-staffcard {
                    &__image {
                        filter: none !important;
                    }

                    &__body {
                        opacity: 1;
                    }
                }
            }

            &:hover {
                .tp-staffcard__image {
                    filter: grayscale(1) brightness(0.8);
                }
            }

            &:nth-child(even) {
                transform: translateY(50px);
            }
        }

        &:has(.active) .tp-staffcard__image {
            filter: grayscale(1) brightness(0.5) blur(2px);
        }
    }
}

@media (max-width: 992px) {
    .tp-teampage-staff {
        padding: 70px 0 60px 0;

        &__titling {
            &-desc {
                width: 80%;
            }
        }

        &__list {
            gap: 10px;

            .tp-staffcard {
                max-height: 250px;
                width: 350px;

                &__image {
                    height: 300px;
                }

                &__body {
                    width: 350px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .tp-teampage-staff {
        padding: 50px 0;

        &__list {
            padding: 50px 0 0 0;
        }

        &__titling {
            &-title {
                margin-bottom: 10px;
                font: 700 34px / 1.1 "Montserrat";
            }
            &-desc {
                font: 14px / 1.6 "Montserrat";
                gap: 15px;
            }
        }
    }
}

@media (max-width: 576px) {
    .tp-teampage-staff {
        &__titling {
            &-title {
                font: 700 28px / 1.1 "Montserrat";
            }
            &-desc {
                font: 14px / 1.6 "Montserrat";
                width: 100%;
                gap: 10px;
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 0;
            position: relative;

            &:has(.active) {
                .tp-staffcard {
                    max-height: 0;
                    padding: 0;
                    z-index: 1;
                }
            }

            .tp-staffcard {
                transform: none !important;
                width: calc(100% / 3);
                padding: 5px;
                max-height: 200px;
                background: #fff;

                &__image {
                    height: 200px;
                }

                &.active {
                    animation-name: animator;
                    animation-duration: 1s;
                    animation-timing-function: ease-in-out;
                    animation-delay: 0.4s;
                    animation-fill-mode: forwards;

                    .tp-staffcard {
                        &__image {
                            height: 400px;
                        }
                    }
                }
            }
        }
    }
}

@keyframes animator {
    0% {
        opacity: 0;
        padding: 0;
        position: absolute;
        max-height: 0;
    }
    50% {
        opacity: 0;
        max-height: 200vh;
    }
    100% {
        opacity: 1;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 200vh;
    }
}
