.tp-indspage-main {
    padding: 50px 0;

    &__titling {
        text-align: center;

        &-title {
            margin-bottom: 15px;
            font: 700 40px / 1.1 "Montserrat";
            color: #333;
            position: relative;
            z-index: 1;
        }

        &-desc {
            font: 15px / 1.6 "Montserrat";
            color: #999;
            position: relative;
            width: 60%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            z-index: 1;

            &::after {
                display: block;
                width: 70px;
                content: "";
                background: url("@/assets/images/static/img-decore.png") no-repeat center center/contain;
                height: 5px;
                opacity: 0.7;
            }
        }
    }

    &__list {
        padding: 50px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .tp-indcard {
        overflow: hidden;
        width: 100%;

        &__image {
            position: relative;

            &-file {
                width: 100%;
                aspect-ratio: 3 / 2;
                object-fit: cover;
                transition: 0.3s;
                position: relative;
                z-index: 1;
            }
        }

        &__price {
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            background: $accent;
            padding: 10px 15px;
            font-weight: 700;
            color: #fff;

            span {
                font-size: 12px;
                font-weight: 400;
            }
        }

        &__body {
            padding: 15px 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__location {
            font-size: 14px;
            color: #b2b2b2;
        }

        &__title {
            font-size: 18px;
            @include limitLine(2);
        }

        &__desc {
            font-size: 12px;
            margin: 5px 0 0 0;
            line-height: 1.4;
        }
    }
}

@media (max-width: 992px) {
    .tp-indspage-main {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }

        .tp-indcard {
            &:nth-last-child(-n + 2) {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .tp-indspage-main {
        &__titling {
            &-title {
                margin-bottom: 10px;
                font: 700 34px / 1.1 "Montserrat";
            }
            &-desc {
                font: 14px / 1.6 "Montserrat";
                gap: 15px;
                width: 80%;
            }
        }

        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        .tp-indcard {
            &:nth-last-child(-n + 2) {
                display: unset;
            }
        }
    }
}

@media (max-width: 576px) {
    .tp-indspage-main {
        padding: 0 0 50px 0;

        &__titling {
            &-title {
                font: 700 28px / 1.1 "Montserrat";
            }
            &-desc {
                font: 14px / 1.6 "Montserrat";
                width: 100%;
                gap: 10px;
            }
        }

        &__list {
            padding: 50px 0 0 0;
        }

        .tp-indcard {
            &__price {
                font-size: 12px;

                span {
                    font-size: 10px;
                }
            }

            &__body {
                padding: 10px 0;
            }

            &__location {
                font-size: 12px;
            }

            &__title {
                font-size: 14px;
            }
        }
    }
}
