.tp-visapage-get {
    padding: 50px 0;

    &__titling {
        text-align: center;

        &-title {
            margin-bottom: 15px;
            font: 700 24px / 1.1 "Montserrat";
            color: #333;
            position: relative;
            z-index: 1;
        }

        &-actions {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
        }

        &-btn {
            all: unset;
            width: 50px;
            height: 50px;
            display: flex;
            border: 1px solid #333;
            cursor: pointer;
            transition: 0.3s;
            border-radius: 15px;
            background: url("@/assets/icons/icon-arrow-dark.svg") no-repeat center center;
            background-size: 20px 20px;

            &:first-child {
                background: url("@/assets/icons/icon-arrow-dark-left.svg") no-repeat center center;
            }

            &:hover {
                transform: scale(1.05);
            }

            &:active {
                transform: scale(1);
            }

            &.disabled {
                opacity: 0.2;
                pointer-events: none;
            }
        }
    }

    &__steps {
        display: grid;
        align-items: baseline;
        grid-template-columns: repeat(5, 1fr);
        padding: 20px 0 50px 0;
        gap: 10px;
    }

    &__step {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        transition: 0.3s;
        justify-content: center;
        filter: grayscale(1);

        &-round {
            width: 150px;
            height: 150px;
            background: #ffffff;
            border-radius: 100%;
            transition: 0.3s;
            display: flex;
            padding: 35px;
            align-items: center;
            justify-content: center;
            position: relative;
            box-shadow: 0 5px 50px -20px rgba(0, 0, 0, 0.1);

            &::after {
                position: absolute;
                z-index: -2;
                top: 50%;
                left: 100%;
                height: 2px;
                width: 100%;
                background: #f3f3f3;
                content: "";
            }

            &::before {
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 100%;
                height: 2px;
                transition: 1s;
                width: 0;
                background: $accent;
                content: "";
                animation: stepBackward 0.6s ease-in-out -0.3s 1 forwards;
            }
        }

        &-count {
            position: absolute;
            bottom: -20px;
            left: -10px;
            font: 700 70px / 1.1 "Montserrat";
            color: $accent;
            opacity: 0.2;
        }

        &-title {
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            padding: 20px 10px 0 10px;
            color: $accent;
            opacity: 0.5;
        }

        &-text {
            font-size: 14px;
            text-align: center;
            color: $accent;
            opacity: 0.5;
        }

        &-icon {
            width: 100%;
            height: 100%;
            transition: 0.3s;
            display: flex;
            object-fit: contain;
        }

        &:last-child {
            .tp-visapage-get__step-round {
                &::before,
                &::after {
                    display: none;
                }
            }
        }

        &.tp-active {
            filter: revert;

            .tp-visapage-get__step {
                &-round {
                    background: $accent;
                }
                &-text,
                &-title {
                    opacity: 1;
                }
                &-icon {
                    filter: brightness(0) invert(1);
                }
                &-round {
                    &::before {
                        animation: stepForward 1s ease-in-out 0.2s 1 forwards;
                    }
                }
            }
        }
    }
}

@keyframes stepForward {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes stepBackward {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@media (max-width: 992px) {
    .tp-visapage-get {
        &__steps {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0;
        }

        &__step {
            width: calc(100% / 3);
            padding: 0 10px 40px 10px;

            &-round {
                &::after {
                    display: none;
                }

                &::before {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .tp-visapage-get {
        &__titling {
            &-actions {
                display: none;
            }
        }

        &__step {
            width: calc(100% / 2);
            filter: revert;

            &-round {
                background: $accent;
            }
            &-text,
            &-title {
                opacity: 1;
            }
            &-icon {
                filter: brightness(0) invert(1);
            }
        }
    }
}

@media (max-width: 576px) {
    .tp-visapage-get {
        overflow: visible;
        padding: 20px 0 50px 0;

        &__steps {
            padding: 0;
        }

        &__step {
            width: 100%;
            position: relative;
            padding: 20px;
            padding: 20px 20px 20px 140px;
            margin: 0 0 10px 0;
            background: #fff;
            position: sticky;
            top: 90px;

            &-count {
                color: #333;
            }

            &-round {
                position: absolute;
                left: 20px;
                top: 20px;
                height: 100px;
                width: 100px;
                padding: 25px;
            }

            &-title {
                text-align: left;
                color: #333;
                font-size: 16px;
                padding: 0;
                opacity: 1;
            }

            &-text {
                font-size: 12px;
                text-align: left;
                color: #333;
                opacity: 1;
            }
        }
    }
}
