.tp-ctpage-form {
    &__content {
        padding: 50px 0;
    }

    &__titling {
        text-align: center;

        &-title {
            margin-bottom: 15px;
            font: 700 40px / 1.1 "Montserrat";
            color: #333;
            position: relative;
            z-index: 1;
        }

        &-desc {
            font: 15px / 1.6 "Montserrat";
            color: #999;
            position: relative;
            width: 60%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            z-index: 1;

            &::after {
                display: block;
                width: 70px;
                content: "";
                background: url("@/assets/images/static/img-decore.png") no-repeat center center/contain;
                height: 5px;
                opacity: 0.7;
            }
        }
    }

    &__main {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 20px;
        overflow: hidden;

        &-wrapper {
            padding: 0 50px 0 0;
        }

        &-input {
            display: block;
            width: 100%;
            padding: 16px 25px;
            line-height: 1.5;
            height: 60px;
            background-color: #f4f4f4;
            border: 1px solid #f4f4f4;
            color: #555555;
            font-size: 15px;
            border-radius: 10px;
            transition: 0.3s;

            &.tp-inputtext,
            &.tp-inputtopic {
                grid-column: 1 / 3;
            }

            &.tp-inputtext {
                resize: vertical;
                min-height: 220px;
                max-height: 400px;
            }

            &:focus {
                background: #fff;
            }
        }

        &-btn {
            align-self: flex-end;
        }
    }

    &__body {
        padding: 50px 0 0 0;
        display: grid;
        grid-template-columns: 35% 60%;
        justify-content: space-between;
        gap: 50px;
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;

        &-file {
            width: 100%;
            display: flex;
            filter: hue-rotate(233deg);
        }
    }
}

@media (max-width: 992px) {
    .tp-ctpage-form {
        &__body {
            display: flex;
        }
        &__image {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .tp-ctpage-form {
        padding: 0 0 50px;

        &__content {
            padding: 0 15px;
        }

        &__titling {
            &-title {
                font: 700 28px / 1.1 "Montserrat";
            }
            &-desc {
                font: 14px / 1.6 "Montserrat";
                width: 100%;
                gap: 10px;
            }
        }

        &__main {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 300px;

            &-input {
                padding: 10px 20px;
                height: 50px;
                font-size: 14px;

                &.tp-inputtext {
                    resize: vertical;
                    min-height: 150px;
                    max-height: 300px;
                }
            }
        }

        &__body {
            display: flex;
            padding: 30px 0;
            gap: 0;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            display: flex;
            width: 200px;
        }
    }
}
