.tp-intro {
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;

    .tp-introslide {
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000;
        opacity: 0;
        visibility: hidden;
        // opacity: 0 !important;

        &__content {
            &::after {
                position: absolute;
                z-index: 2;
                background: #00000080;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: "";
            }
        }

        &__image,
        &__video {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: 1.3s;
        }

        &__body {
            position: relative;
            z-index: 4 !important;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &__location {
            font-size: 18px;
            transform: translateX(80px);
            transition: 0.8s;
            opacity: 0;
            color: #fff;
        }

        &__title {
            font-size: 46px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: -1px;
            width: 60%;
            color: #fff;
            transform: translateX(80px);
            transition: 1.4s;
            opacity: 0;
        }

        &__desc {
            width: 50%;
            font-size: 18px;
            font-weight: normal;
            line-height: 140%;
            color: #fff;
            margin: 0 0 15px 0;
            transform: translateX(80px);
            transition: 2s;
            opacity: 0;
        }

        &__link {
            position: relative;
            align-self: flex-start;
            font-size: 24px;
            letter-spacing: -0.6px;
            color: #fff !important;
            cursor: pointer;
            transform: translateX(100px);
            transition: 2.6s;
            opacity: 0;

            &::after {
                content: "";
                display: flex;
                height: 6px;
                transition: 0.3s;
                -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
                clip-path: polygon(0 100%, 100% 0, 100% 100%);
                background: $accent;
                filter: brightness(0.7);
            }

            &:hover {
                &::after {
                    filter: revert;
                }
            }
        }

        &.swiper-slide-active {
            opacity: 1;
            visibility: visible;

            .tp-introslide {
                &__location,
                &__title,
                &__link,
                &__desc {
                    transform: translateX(0);
                    opacity: 1;
                }

                &__image,
                &__video {
                    opacity: 1;
                }
            }
        }
    }

    .tp-introslider {
        &__nav {
            position: absolute;
            z-index: 5;
            display: flex;
            align-items: center;
            justify-content: space-between;
            top: 50%;
            left: 0;
            width: 100%;
            padding: 0 5vw;
            height: 0px;

            &-item {
                background: url("@/assets/icons/icon-arrow.svg") no-repeat center center/contain;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.3s;

                &.intro__swiper-prev {
                    transform: rotate(180deg);
                }

                &.disabled {
                    opacity: 0.3;
                    pointer-events: none;
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    .tp-intro {
        .tp-introslider {
            &__nav {
                top: unset;
                bottom: 100px;
                left: 50%;
                transform: translateX(-50%);
                padding: 0;
                justify-content: flex-start;
                gap: 40px;
                width: 1230px;
            }
        }
    }
}

@media (max-width: 1250px) {
    .tp-intro {
        .tp-introslider {
            &__nav {
                width: 962px;
            }
        }
    }
}

@media (max-width: 992px) {
    .tp-intro {
        height: auto;
        overflow: hidden;
        position: relative;

        .tp-introslider {
            &__nav {
                justify-content: flex-end;
                width: 738px;
                bottom: 20px;
            }
        }

        .tp-introslide {
            height: auto;
            padding: 160px 0 100px 0;

            &__title {
                width: 100%;
            }

            &__desc {
                width: 90%;
            }

            &__link {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 768px) {
    .tp-intro {
        .tp-introslider {
            &__nav {
                width: 546px;
            }
        }

        .tp-introslide {
            &__title {
                width: 100%;
                font-size: 38px;
            }

            &__desc {
                width: 90%;
                font-size: 14px;
            }

            &__link {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 576px) {
    .tp-intro {
        .tp-introslider {
            &__nav {
                width: calc(100% - 20px);
                bottom: 40px;

                &-item {
                    width: 30px;
                    height: 30px;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .tp-introslide {
            padding: 220px 0 170px 0;

            &__body {
                gap: 10px;
            }

            &__location {
                font-size: 12px;
            }

            &__title {
                font-size: 24px;
                width: 90%;
            }

            &__desc {
                width: 70%;
                font-size: 12px;
                @include limitLine(6);
            }

            &__link {
                font-size: 16px;
            }
        }
    }
}
