.tp-visapage-main {
    padding: 50px 0;

    &__titling {
        text-align: center;

        &-title {
            margin-bottom: 15px;
            font: 700 40px / 1.1 "Montserrat";
            color: #333;
            position: relative;
            z-index: 1;
        }

        &-desc {
            font: 15px / 1.6 "Montserrat";
            color: #999;
            position: relative;
            width: 60%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            z-index: 1;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding: 40px 0 50px 0;
    }

    .tp-visacard {
        background: #ffffff;
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2);
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;

        &__icon {
            width: 120px;
            height: 120px;
            display: flex;
            object-fit: contain;
        }

        &__count {
            font-size: 34px;
            font-weight: bold;
            text-align: center;
            color: $accent;
        }

        &__title {
            font-size: 14px;
            text-align: center;
        }

        &:nth-child(even) {
            transform: translateY(50px);
        }
    }
}

@media (max-width: 992px) {
    .tp-visapage-main {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 768px) {
    .tp-visapage-main {
        &__titling {
            &-title {
                margin-bottom: 10px;
                font: 700 34px / 1.1 "Montserrat";
            }
            &-desc {
                font: 14px / 1.6 "Montserrat";
                gap: 15px;
            }
        }
    }
}

@media (max-width: 576px) {
    .tp-visapage-main {
        padding: 20px 0 50px 0;

        &__titling {
            &-title {
                font: 700 28px / 1.1 "Montserrat";
            }
            &-desc {
                font: 14px / 1.6 "Montserrat";
                width: 100%;
                gap: 10px;
            }
        }

        &__list {
            gap: 15px;
            padding: 40px 0 30px 0;
        }

        .tp-visacard {
            padding: 25px;
            &__icon {
                width: 90px;
                height: 90px;
            }

            &__count {
                font-size: 30px;
            }

            &__title {
                font-size: 12px;
            }
        }
    }
}
