.tp-hspage-main {
    padding: 50px 0;
    position: relative;
    overflow: visible;

    &__content {
        width: 100%;
        padding: 0 10vw;
        overflow: hidden;
        max-width: unset;
    }

    &__titling {
        display: flex;

        &-image {
            height: 320px;
            width: 500px;
            flex-shrink: 0;
            object-fit: cover;
            transform: rotate(5deg);
            box-shadow: 0 0 40px -15px rgba(0, 0, 0, 0.2);
            position: relative;
            z-index: 2;
        }

        &-title {
            font-size: 168px;
            text-transform: uppercase;
            font-weight: 900;
            line-height: 1;
            opacity: 0.1;
            transform: translateX(-30px);
        }
    }

    &__list {
        margin: 60px 0 0 0;
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 50px;
        flex-shrink: 0;

        .tp-hscard {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-shrink: 0;
            text-align: left;
            width: 40%;
            cursor: pointer;

            &__year {
                font-size: 64px;
                line-height: 1;
                opacity: 0.3;
                transition: 0.3s;
            }

            &__title {
                font-size: 24px;
                transition: 0.3s;
                font-weight: 700;
                color: #dadada;
            }

            &__desc {
                font-size: 16px;
                transition: 0.3s;
                font-weight: 300;
                line-height: 1.3;
                margin: 5px 0 0 0;
                color: #dadada;
            }

            &__image {
                position: absolute;
                left: -20vw;
                transform: translateY(-50%);
                width: 400px;
                height: 200px;
                display: flex;
                object-fit: contain;
                transform: rotate(14deg);
                opacity: 0;
                transition: 0.2s;
            }

            &.active {
                .tp-hscard {
                    &__year {
                        opacity: 1;
                        color: $accent;
                    }

                    &__title,
                    &__desc {
                        color: #333;
                    }

                    &__image {
                        opacity: 1;
                    }
                }
            }

            &:hover {
                .tp-hscard {
                    &__year {
                        opacity: 1;
                        color: $accent;
                    }
                }
            }

            &:nth-child(even) {
                align-self: flex-end;

                .tp-hscard {
                    &__image {
                        right: -20vw;
                        left: unset;
                    }
                }
            }
        }
    }

    &__lines {
        position: absolute;
        top: 450px;
        bottom: 150px;
        left: 50%;
        transform: translate(-50%);
        width: 5px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        z-index: 0;

        &-line {
            border-radius: 10px;
            width: 100%;
            display: flex;

            &.lcurrent {
                background: $accent;
                position: sticky;
                top: 110px;
                z-index: 1;
                height: 250px;
            }

            &.lall {
                background: #f3f3f3;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 0;
            }
        }
    }
}

@media (max-width: 1250px) {
    .tp-hspage-main {
        &__titling {
            &-title {
                font-size: 90px;
                transform: translateX(-20px);
            }

            &-image {
                width: 300px;
                height: 200px;
            }
        }

        &__content {
            width: 100%;
            padding: 0 10vw;
        }

        &__lines {
            top: 300px;
        }

        &__list {
            .tp-hscard {
                &__year {
                    font-size: 54px;
                }

                &__title {
                    font-size: 22px;
                }

                &__image {
                    // left: -vw;
                    width: 300px;
                    height: 150px;
                }

                &:nth-child(even) {
                    .tp-hscard {
                        &__image {
                            // right: -vw;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .tp-hspage-main {
        &__content {
            width: 768px;
            padding: 0 25px 0 50px;
        }

        &__titling {
            &-image {
                width: 270px;
                height: 180px;
            }
        }

        &__list {
            .tp-hscard {
                width: 70%;
                align-self: flex-start !important;

                &__image {
                    right: -5vw !important;
                    left: unset;
                }
            }
        }

        &__lines {
            left: 50%;
            transform: translateX(-364px);

            &-line {
                &.lcurrent {
                    top: 70px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .tp-hspage-main {
        &__content {
            width: 100%;
            padding: 0 30px 0 50px;
        }

        &__lines {
            top: 200px;
            transform: translateX(calc(-50vw + 20px));
        }

        &__list {
            .tp-hscard {
                width: 80%;

                &__year {
                    font-size: 34px;
                }

                &__title {
                    font-size: 20px;
                }

                &__desc {
                    font-size: 16px;
                }

                &__image {
                    width: 200px;
                    right: -15vw !important;
                }
            }
        }

        &__titling {
            flex-direction: column;
            align-items: center;
            gap: 30px;

            &-image {
                display: none;
            }

            &-title {
                font-size: 50px;
                transform: none;
                text-align: center;
            }
        }
    }
}

@media (max-width: 576px) {
    .tp-hspage-main {
        padding: 20px 0 50px 0;

        &__list {
            .tp-hscard {
                width: 80%;

                &__year {
                    font-size: 28px;
                }

                &__title {
                    font-size: 16px;
                }

                &__desc {
                    font-size: 12px;
                }

                &__image {
                    width: 130px;
                    right: -15vw !important;
                }
            }
        }

        &__titling {
            &-title {
                font-size: 40px;
            }
        }

        &__lines {
            top: 130px;
        }

        &__list {
            margin: 20px 0 0 0;
        }
    }
}
