.tp-news {
    margin: 50px 0 50px 0;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 430px;
        background: url("@/assets/images/static/bg-dots-var2.jpeg") no-repeat center center;
        z-index: -1;
    }

    &__header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
        margin: 0 0 45px 0;

        h2 {
            margin: 0 0 15px 0;
            font-size: 40px;
            font-weight: 700;
            line-height: 120%;
            color: #222;
        }
        p {
            font-size: 16px;
            line-height: 120%;
            color: #222;
            margin: 0 0 30px 0;
        }
        img {
            width: 75px;
            height: 4px;
            object-fit: cover;
        }
    }

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

@media (max-width: 1250px) {
    .tp-news {
        &__header {
            gap: 5px;
            margin: 0 0 45px 0;

            h2 {
                margin: 0;
            }
            p {
                margin: 0 0 15px 0;
                text-align: center;
            }
        }

        &__list {
            gap: 20px;
        }
    }
}

@media (max-width: 992px) {
    .tp-news {
        &__header {
            gap: 5px;
            margin: 0 0 45px 0;

            h2 {
                margin: 0;
            }
            p {
                margin: 0 0 15px 0;
            }
        }

        &__list {
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);

            .tp-newscard {
                &:nth-child(n + 3) {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .tp-news {
        padding: 0 0 50px 0;
        margin: 0;

        &__header {
            h2 {
                font: 700 28px / 1.1 "Montserrat";
            }
            p {
                font: 14px / 1.6 "Montserrat";
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
    }
}
