.tp-corppage-wwe {
    padding: 50px 0;

    &__titling {
        text-align: center;

        &-title {
            margin-bottom: 15px;
            font: 700 40px / 1.1 "Montserrat";
            color: #333;
            position: relative;
            z-index: 1;
        }

        &-desc {
            font: 15px / 1.6 "Montserrat";
            color: #999;
            position: relative;
            width: 60%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            z-index: 1;

            &::after {
                display: block;
                width: 70px;
                content: "";
                background: url("@/assets/images/static/img-decore.png") no-repeat center center/contain;
                height: 5px;
                opacity: 0.7;
            }
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 30px 0;
    }

    &__stats {
        padding: 40px 0;

        &-title {
            text-align: center;
            margin: 0 0 10px 0;
        }

        &-desc {
            text-align: center;
            margin: 0 0 25px 0;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }

        .tp-corpstat {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            gap: 30px;

            &__desc {
                font-size: 16px;
            }
        }
    }

    .tp-wwecard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        gap: 15px;

        &__icon {
            width: 90px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: hue-rotate(233deg);
        }

        &__title {
            font-size: 18px;
            line-height: 1.4;
        }

        &__desc {
            font-size: 14px;
            font-weight: normal;
            line-height: 1.4;

            a {
                color: #3c70ff;
                font-weight: bold;
                transition: 0.3s;

                &:hover {
                    opacity: 0.4;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .tp-corppage-wwe {
        &__body {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }
    }
}

@media (max-width: 768px) {
    .tp-corppage-wwe {
        &__titling {
            &-title {
                margin-bottom: 10px;
                font: 700 34px / 1.1 "Montserrat";
            }
            &-desc {
                font: 14px / 1.6 "Montserrat";
                gap: 15px;
            }
        }

        &__stats {
            &-list {
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
            }
        }
    }
}

@media (max-width: 576px) {
    .tp-corppage-wwe {
        &__titling {
            &-title {
                font: 700 28px / 1.1 "Montserrat";
            }
            &-desc {
                font: 14px / 1.6 "Montserrat";
                width: 100%;
                gap: 10px;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__stats {
            &-title {
                text-align: center;
                margin: 0 0 10px 0;
                font: 700 28px / 1.1 "Montserrat";
            }

            &-desc {
                font: 14px / 1.6 "Montserrat";
            }

            &-list {
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
            }

            .tp-corpstat {
                gap: 10px;

                &__desc {
                    font-size: 12px;
                }
            }
        }

        .tp-wwecard {
            gap: 10px;
            padding: 0 15px;

            &__icon {
                width: 70px;
                height: 70px;
            }

            &__title {
                font-size: 16px;
            }

            &__desc {
                font-size: 12px;
            }
        }
    }
}
