<template>
    <div>
        <SectionTheIntro
            :sectionBackground="require('@/assets/images/static/intro-bgs/corporate.jpg')"
            :sectionCrumbs="[
                {label: 'Главная', link: '/'},
                {label: 'Корпоративные поездки', link: '/team'},
            ]"
            :sectionTitle="'Ради комфорта корпоративных туристов'"
            :sectionSubtitle="'Для нас приоритетной задачей является создание благоприятных условий и обеспечение комфорта как для отдельных путешественников, так и для корпоративных клиентов. Мы понимаем, что организация деловых поездок или корпоративных мероприятий требует особого подхода и внимания к деталям.'" />
        <SectionReviews />
        <SectionWhywe />
        <SectionContact />
    </div>
</template>

<script>
import SectionTheIntro from "@/components/compIntroSection.vue";
import SectionReviews from "./sectionReviews.vue";
import SectionWhywe from "./sectionWhywe.vue";
import SectionContact from "./sectionContact.vue";

export default {
    name: "page-corporate",
    components: {
        SectionTheIntro,
        SectionReviews,
        SectionWhywe,
        SectionContact,
    },
};
</script>
