<template>
    <section class="tp-corppage-wwe">
        <div class="tp-corppage-wwe__content container">
            <div class="tp-corppage-wwe__titling">
                <h1 class="tp-corppage-wwe__titling-title">Почему выбирают нас</h1>
                <p class="tp-corppage-wwe__titling-desc">Нас выбирают за профессионализм, индивидуальный подход и безупречное обслуживание на всех этапах тура</p>
            </div>
            <div class="tp-corppage-wwe__body">
                <div
                    v-for="(item, index) in thedata"
                    :key="'el_' + index"
                    class="tp-corppage-wwe__card tp-wwecard">
                    <img
                        class="tp-wwecard__icon"
                        :src="item.icon"
                        alt="image" />

                    <h3
                        class="tp-wwecard__title"
                        v-html="item.title"></h3>
                    <p
                        class="tp-wwecard__desc"
                        v-html="item.desc"></p>
                </div>
            </div>
            <div
                v-if="!isHomePage"
                class="tp-corppage-wwe__stats">
                <h3 class="tp-corppage-wwe__stats-title">Tropic Tour в цифрах</h3>
                <p class="tp-corppage-wwe__stats-desc">Нас выбирают за нашу блестящую статистку, что немаловажно в организации Корпоративных поездок</p>

                <div class="tp-corppage-wwe__stats-list">
                    <div
                        v-for="(item, index) in theStats"
                        :key="'el_' + index"
                        class="tp-corppage-wwe__stats-item tp-corpstat">
                        <CompProgressVue
                            class="tp-corpstat__circle"
                            :value="item.value"
                            :percent="item.percent" />
                        <p class="tp-corpstat__desc">{{ item.desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import CompProgressVue from "../../components/compProgress.vue";

export default {
    name: "section-corp-whywe",
    components: {
        CompProgressVue,
    },
    data() {
        return {
            isHomePage: this.$route.name === "home",
            thedata: [
                {
                    icon: require("@/assets/animations/shield.gif"),
                    title: `Надежность и безопасность`,
                    desc: `Наша компания зарегистрирована в Ташкентское городское управление Министерства туризма и культурного наследия Республики Узбекистан как оператор персональных данных <a href="/data/files/license.pdf" target="_blank">№ L-4180933.</a> Мы имеем лицензию на осуществление туристической деятельности на территории Республики Узбекистана`,
                },
                {
                    icon: require("@/assets/animations/support.gif"),
                    title: `Клиентская поддержка`,
                    desc: `Наши профессионалы оказывают круглосуточную поддержку наших туристов: оперативное решение вопросов, помощь в бронировании, и полное сопровождение вашего совместного, коллективного путешествия на каждом этапе`,
                },
                {
                    icon: require("@/assets/animations/ticket.gif"),
                    title: `Доступность и доверие`,
                    desc: `Мы осуществляем полностью <a  href="/data/files/certificate.pdf" target="_blank">легальный бизнес:</a> при покупке тура вы получаете официальный договор, а при оплате наличными вам выдается кассовый чек. Вся наша деятельность соответствует как международному так и местному законодательству`,
                },
                {
                    icon: require("@/assets/animations/payment.gif"),
                    title: `Удобная оплата услуг`,
                    desc: `Для максимального удобства как для физических, так и для юридических лиц, наше агентство принимает оплату наличными, банковскими картами, по расчетному счету для организаций, переводами по реквизитам и другими удобными для вас способами.`,
                },
            ],
            theStats: [
                {
                    percent: 80,
                    value: "8+",
                    desc: "Лет с момента основания туристического агентства",
                },
                {
                    percent: 80,
                    value: "24+",
                    desc: "Специалистов по обслуживанию корпоративных туров",
                },
                {
                    percent: 70,
                    value: "30+",
                    desc: "Постоянных корпоративных туристов",
                },
                {
                    percent: 50,
                    value: "100+",
                    desc: "Успешно организованных корпоративных поездок",
                },
            ],
        };
    }
};
</script>
