<template>
    <section class="tp-corppage-revs">
        <div class="tp-corppage-revs__content container">
            <div class="tp-corppage-revs__titling">
                <h2 class="tp-corppage-revs__titling-title">Мнения о нас</h2>
                <p class="tp-corppage-revs__titling-desc">Благодарности наших Корпоративных туристов за организацию незабываемых воспомонинаний для всего коллектива</p>
            </div>
            <div
                ref="reviews__swiper"
                class="tp-corppage-revs__swiper swiper">
                <fancyBox
                    class="tp-corppage-revs__list swiper-wrapper"
                    :options="{
                        Carousel: {
                            infinite: false,
                            bounce: false,
                        },
                    }">
                    <div
                        v-for="item in 6"
                        :key="item"
                        data-fancybox="corporate"
                        :href="require(`@/assets/images/template/corporates/corp-${item}.jpg`)"
                        class="tp-corppage-revs__item tp-revcard--corp swiper-slide">
                        <img
                            class="tp-revcard--corp__image"
                            :src="require(`@/assets/images/template/corporates/corp-${item}.jpg`)"
                            alt="photo" />
                    </div>
                </fancyBox>
            </div>
        </div>
    </section>
</template>

<script>
import fancyBox from "@/components/compFancyBox.vue";

import Swiper, {Autoplay} from "swiper";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/autoplay";

export default {
    name: "section-corp-reviews",
    components: {fancyBox},
    mounted() {
        new Swiper(this.$refs.reviews__swiper, {
            modules: [Autoplay],
            loop: true,
            spaceBetween: 10,
            slidesPerView: 3,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
                pauseOnMouseEnter: true,
            },
        });
    },
};
</script>
