<template>
    <section class="tp-teampage-contact">
        <div class="tp-teampage-contact__content container">
            <div class="tp-teampage-contact__titling">
                <h2 class="tp-teampage-contact__titling-title">Есть особые требования к корпоративному туру?</h2>
                <p class="tp-teampage-contact__titling-desc">
                    Не нашли идеальный тур? Поделитесь своими требованиями с нами! Заполните заявку, и наши специалисты свяжутся с вашими представителями, чтобы создать уникальное корпоративный тур, соответствующее вашим желаниям и интересам. Мы
                    сплотим вашу команду и организуем незабываемое путешествие!
                </p>
            </div>
            <CompLeaveapp2 />
        </div>
    </section>
</template>


<script>
import CompLeaveapp2 from "@/components/compLeaveapp2.vue";

export default {
    name: "section-corp-contact",
    components: {CompLeaveapp2},
};
</script>

<style></style>
