<template>
    <div class="tp-newscard">
        <div class="tp-newscard__image">
            <img
                :src="newsImage"
                alt="image" />
        </div>
        <div class="tp-newscard__content">
            <p class="tp-newscard__content-date">{{ newsDate }}</p>
            <h3 class="tp-newscard__content-title">{{ newsTitle }}</h3>
            <p class="tp-newscard__content-desc">
                {{ newsDesc }}
            </p>
            <a
                class="tp-newscard__content-btn"
                target="_blank"
                :href="newsLink">
                Подробнее
            </a>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        newsImage: {
            default: "",
            type: String,
        },
        newsTitle: {
            default: "Новый Тур В Сердце Африки!",
            type: String,
        },
        newsDate: {
            default: "14 июня 2024",
            type: String,
        },
        newsDesc: {
            default: "Tropic Tour рад представить эксклюзивный сафари-тур! Откройте для себя дикие земли Кении с нашими экспертными гидами.",
            type: String,
        },
        newsLink: {
            default: "#!",
            type: String,
        },
    },
};
</script>
