<template>
    <div class="tp-popup">
        <div class="tp-popup__inner">
            <h2>Извините за неудобства</h2>
            <p>На данный момент наш сайт недоступен из-за технических работ. Мы работаем над устранением проблемы и приносим извинения за временные неудобства. Пожалуйста, попробуйте зайти позже. Спасибо за ваше понимание.</p>
            <p>Если у вас есть возможность, попробуйте зайти на наш сайт с компьютера, возможно, проблема временно связана с вашим устройством. Благодарим за ваше терпение и сотрудничество.</p>
        </div>
    </div>
</template>

<script></script>
