<template>
    <div class="tp-circle__wrap">
        <div
            class="tp-circle"
            :style="`--perc: ${percent}`">
            <div class="tp-circle__mask full">
                <div class="tp-circle__fill"></div>
            </div>
            <div class="tp-circle__mask half">
                <div class="tp-circle__fill"></div>
            </div>
            <div class="tp-circle__inner">{{ value }}</div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        percent: {
            type: Number,
            default: 50,
        },
        value: {
            type: String,
            default: "50%",
        },
    },
};
</script>
