<template>
    <div>
        <div class="tp-sgnews-body">
            <div
                class="tp-sgnews-body__content container"
                style="padding: 200px 10vw">
                <h3 style="text-align: center">
                    Приглашаем вас отправиться в музыкально-культурное путешествие, которое оставит незабываемые впечатления! Присоединяйтесь к нашему эксклюзивному авторскому туру на концерт Адель в Мюнхене, дополненному посещением очаровательных
                    городов Цюриха, Парижа, Рима и Милана.
                </h3>
                <img
                    src="/data/news/adele-concert/item-2.jpg"
                    alt="adele" />
                <h4 style="text-align: center">Мы понимаем, что у каждого путешественника есть свои предпочтения и бюджет, поэтому мы создали 3 пакета на выбор:</h4>
                <h4>✨Пакет "Стандарт" на 6 ночей/7 дней</h4>
                <p>- С 15.08.2024 по 21.08.2024 посещение трех городов Мюнхен, Цюрих, Париж</p>
                <p>- Проживание в комфортабельных отелях 4*</p>
                <p>- Все трансферы и переезды по программе</p>
                <p>- Билет на концерт Адель</p>
                <p></p>
                <h3>✨Пакет "Комфорт" 8 ночей / 9 дней</h3>
                <p>- С 15.08.2024 по 23.08.2024 посещение трех городов Мюнхен, Цюрих, Париж и Милан</p>
                <p>- Проживание в комфортабельных отелях 4*</p>
                <p>- Все трансферы и переезды по программе</p>
                <p>- Билет на концерт Адель</p>
                <p></p>
                <h3>✨Пакет "Люкс" 10 ночей / 11 дней</h3>
                <p>- С 15.08.2024 по 25.08.2024 посещение трех городов Мюнхен, Цюрих, Париж, Милан и Рима</p>
                <p>- Проживание в комфортабельных отелях 4*</p>
                <p>- Все трансферы и переезды по программе</p>
                <p>- Билет на концерт Адель</p>
                <p></p>
                <h3 style="text-align: center">‼️Стоимость тура зависит от выбранного пакета и являются динамичными ‼️</h3>
                <a
                    href="/data/news/adele-concert/Adele-6.xlsx"
                    download>
                    Адель программа (6-дней) - Special

                    <span style="font-size: 12px; color: #000; opacity: 0.5; margin: 0 10px">скачать</span>
                </a>
                <a
                    href="/data/news/adele-concert/Adele-8.xlsx"
                    download>
                    Адель программа (8-дней) - Special+

                    <span style="font-size: 12px; color: #000; opacity: 0.5; margin: 0 10px">скачать</span>
                </a>
                <a
                    href="/data/news/adele-concert/Adele-10.xlsx"
                    download>
                    Адель программа (10-дней) - VIP

                    <span style="font-size: 12px; color: #000; opacity: 0.5; margin: 0 10px">скачать</span>
                </a>
                <h3 style="text-align: center">💫Не упустите возможность отправиться в это неповторимое путешествие!</h3>
                <img
                    src="/data/news/adele-concert/item-3.jpg"
                    alt="adele" />
                <h3 style="text-align: center">💫Свяжитесь с нами сегодня, чтобы забронировать свое место в нашем эксклюзивном авторском туре на концерт Адель в Мюнхене.</h3>
                <h3 style="text-align: center">☄️Вас ждут незабываемые впечатления, которые останутся с вами на всю жизнь!</h3>
            </div>
        </div>
    </div>
</template>

<script>
// import SectionTheIntro from "@/components/compIntroSection.vue";

export default {
    name: "page-single-news",
};
</script>
