<template>
    <div>
        <SectionTheIntro
            :sectionBackground="require('@/assets/images/static/intro-bgs/contacts.jpg')"
            :sectionCrumbs="[
                {label: 'Главная', link: '/'},
                {label: 'Контакты', link: '/contacts'},
            ]"
            :sectionTitle="'Не нашли то что искали? <br> Не проблема, свяжитесь с нами!'"
            :sectionSubtitle="'Свяжитесь с нами удобным для вас способом и наши специалисты выйдут на связь'" />

        <SectionMain />
        <SectionContact />
    </div>
</template>

<script>
import SectionTheIntro from "@/components/compIntroSection.vue";
import SectionMain from "./contactsMain.vue";
import SectionContact from "./contactsForm.vue";

export default {
    name: "page-contacts",
    components: {
        SectionTheIntro,
        SectionMain,
        SectionContact,
    },
};
</script>
