<template>
    <section class="tp-ctpage-form">
        <div class="tp-ctpage-form__content container">
            <div class="tp-ctpage-form__titling">
                <h2 class="tp-ctpage-form__titling-title">Оставьте заявку</h2>
                <p class="tp-ctpage-form__titling-desc">Оставьте заявку, и наш менеджер свяжется с вами в ближайшее время для подбора идеального тура. Мы учтем все ваши пожелания и предложим лучшие варианты!</p>
            </div>

            <div class="tp-ctpage-form__body">
                <div class="tp-ctpage-form__image">
                    <img
                        class="tp-ctpage-form__image-file"
                        src="@/assets/animations/contacts.gif"
                        alt="contact" />
                </div>
                <div class="tp-ctpage-form__main">
                    <input
                        class="tp-ctpage-form__main-input"
                        placeholder="Ваше Ф.И.О."
                        type="text" />
                    <input
                        class="tp-ctpage-form__main-input"
                        placeholder="Ваш номер телефона *"
                        type="text" />
                    <textarea
                        class="tp-ctpage-form__main-input tp-inputtext"
                        placeholder="Содержимое сообщения *"></textarea>

                    <CompButton
                        class="tp-ctpage-form__main-btn"
                        :tpbtnText="'Отправить'"
                        :tpbtnUid="'button-contact-main'" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import CompButton from '@/components/compButton.vue';

export default {
    name: "section-contacts-form",
    components: {CompButton},
    data() {
        return {};
    },
};
</script>
