<template>
    <section class="tp-ctpage-main">
        <div class="tp-ctpage-main__content container">
            <div class="tp-ctpage-main__info">
                <h2 class="tp-ctpage-main__info-title">Свяжитесь с нами</h2>
                <p class="tp-ctpage-main__info-desc">Заполните анкету или посетите наш офис, мы будем исключительно рады обсудить с вами ваши будущие незабываемые впечатления</p>

                <div class="tp-ctpage-main__info-block tp-ctblock">
                    <h3 class="tp-ctblock__title">Контактные данные:</h3>
                    <a
                        href="tel:+998781222023"
                        class="tp-ctblock__link"
                        target="_blank">
                        <img
                            class="tp-ctblock__link-icon"
                            src="@/assets/icons/icon-contact-phone.svg"
                            alt="icon" />
                        <p class="tp-ctblock__link-label">Колл центр:</p>
                        <p class="tp-ctblock__link-text">+998(78) 122 20 23</p>
                    </a>
                    <a
                        href="tel:+998996336888"
                        class="tp-ctblock__link"
                        target="_blank">
                        <img
                            class="tp-ctblock__link-icon"
                            src="@/assets/icons/icon-contact-messenger.svg"
                            alt="icon" />
                        <p class="tp-ctblock__link-label">Мессенджеры:</p>
                        <p class="tp-ctblock__link-text">+998(99) 633 68 88</p>
                    </a>
                    <a
                        href="https://www.google.com/maps?ll=41.308504,69.290377&z=20&t=m&hl=en&gl=US&mapclient=embed&cid=4385671740953822041"
                        class="tp-ctblock__link"
                        target="_blank">
                        <img
                            class="tp-ctblock__link-icon"
                            src="@/assets/icons/icon-contact-address.svg"
                            alt="icon" />
                        <p class="tp-ctblock__link-label">Адрес:</p>
                        <p class="tp-ctblock__link-text">Буюк Ипак Йули 48 Мирзо Улугбекский район</p>
                    </a>
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d697.3735063789018!2d69.27966671739077!3d41.30268225443101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDHCsDE4JzA5LjYiTiA2OcKwMTYnNDguMCJF!5e0!3m2!1sen!2s!4v1717253879962!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                    <a
                        href="https://maps.app.goo.gl/4SwwwDVwXLUzEuAu9"
                        class="tp-ctblock__link"
                        target="_blank">
                        <img
                            class="tp-ctblock__link-icon"
                            src="@/assets/icons/icon-contact-address.svg"
                            alt="icon" />
                        <p class="tp-ctblock__link-label">Адрес Филиала:</p>
                        <p class="tp-ctblock__link-text">пр. Амира Тимура 29/6, Мирабадский район</p>
                    </a>
                </div>

                <div class="tp-ctpage-main__info-block tp-ctblock">
                    <h3 class="tp-ctblock__title">Соц. ссылки:</h3>
                    <a
                        href="https://www.instagram.com/tropictour_uz"
                        class="tp-ctblock__link"
                        target="_blank">
                        <img
                            class="tp-ctblock__link-icon"
                            src="@/assets/icons/icon-contact-instagram.svg"
                            alt="icon" />
                        <p class="tp-ctblock__link-label">Instagram:</p>
                        <p class="tp-ctblock__link-text">tropictour_uz</p>
                    </a>
                    <a
                        href="https://www.facebook.com/profile.php?id=61550594882318"
                        class="tp-ctblock__link"
                        target="_blank">
                        <img
                            class="tp-ctblock__link-icon"
                            src="@/assets/icons/icon-contact-facebook.svg"
                            alt="icon" />
                        <p class="tp-ctblock__link-label">Facebook:</p>
                        <p class="tp-ctblock__link-text">Tropic tour</p>
                    </a>
                    <a
                        href="https://tiktok.com/tropictour.uz"
                        class="tp-ctblock__link"
                        target="_blank">
                        <img
                            class="tp-ctblock__link-icon"
                            src="@/assets/icons/icon-contact-tiktok.svg"
                            alt="icon" />
                        <p class="tp-ctblock__link-label">Tik Tok:</p>
                        <p class="tp-ctblock__link-text">tropictour.uz</p>
                    </a>
                </div>

                <div class="tp-ctpage-main__info-block tp-ctblock">
                    <h3 class="tp-ctblock__title">Почтовые адреса:</h3>
                    <a
                        href="mailto:info@tropic-tour.uz"
                        class="tp-ctblock__link"
                        target="_blank">
                        <img
                            class="tp-ctblock__link-icon"
                            src="@/assets/icons/icon-contact-mail.svg"
                            alt="icon" />
                        <p class="tp-ctblock__link-label">Основная:</p>
                        <p class="tp-ctblock__link-text">info@tropic-tour.uz</p>
                    </a>
                    <a
                        href="mailto:marketing@tropic-tour.uz"
                        class="tp-ctblock__link"
                        target="_blank">
                        <img
                            class="tp-ctblock__link-icon"
                            src="@/assets/icons/icon-contact-mail.svg"
                            alt="icon" />
                        <p class="tp-ctblock__link-label">Предложения:</p>
                        <p class="tp-ctblock__link-text">marketing@tropic-tour.uz</p>
                    </a>
                    <a
                        href="mailto:hr@tropic-tour.uz"
                        class="tp-ctblock__link"
                        target="_blank">
                        <img
                            class="tp-ctblock__link-icon"
                            src="@/assets/icons/icon-contact-mail.svg"
                            alt="icon" />
                        <p class="tp-ctblock__link-label">Отдел кадров:</p>
                        <p class="tp-ctblock__link-text">hr@tropic-tour.uz</p>
                    </a>
                </div>
            </div>
            <div class="tp-ctpage-main__map">
                <iframe
                    class="tp-ctpage-main__map-iframe"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d274.54848066059344!2d69.29040621078113!3d41.30865347656313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef5d973911e8b%3A0x3cdd09364d058359!2sTropic%20Tour!5e0!3m2!1sen!2s!4v1716925421249!5m2!1sen!2s"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-contacts-main",
    components: {},
    data() {
        return {};
    },
};
</script>
