.tp-theintro {
    background: #000;
    height: 500px;
    position: relative;
    overflow: visible;
    margin: 0 0 50px 0;

    &__bg {
        position: absolute;
        width: 100%;
        z-index: 1;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.4);
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        z-index: 2;
        position: relative;
        height: 100%;
        padding: 150px 0 0 0;
    }

    &__title {
        font-size: 46px;
        text-align: center;
        color: #fff;
        @include limitLine(2);
    }

    &__subtitle {
        font-size: 18px;
        text-align: center;
        color: #fff;
        @include limitLine(2);
    }

    &__breadcrumbs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 20px 0 0 0;

        &-link {
            font-size: 14px;
            transition: 0.3s;
            text-transform: capitalize;

            &:hover {
                opacity: 0.6;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #fff;

            &:not(:first-child) {
                &::before {
                    display: flex;
                    width: 5px;
                    height: 5px;
                    display: flex;
                    border-radius: 100%;
                    background: $accent;
                    content: "";
                }
            }

            &:last-child {
                color: $accent;
            }
        }
    }

    &::after {
        position: absolute;
        top: 100%;
        left: 20%;
        content: "";
        right: 0;
        height: 30px;
        background-color: $accent;
        clip-path: polygon(0 0, 100% 0, 2.5% 100%);
    }
}

@media (max-width: 992px) {
    .tp-theintro {
        height: 400px;

        &__content {
            padding: 90px 0 0 0;
        }
    }
}

@media (max-width: 576px) {
    .tp-theintro {
        height: 300px;
        margin: 0 0 40px 0;

        &__bg {
            height: calc(100% - 70px);
            bottom: 0;
        }

        &__content {
            padding: 70px 20px 0 20px;
        }

        &__title {
            font-size: 24px;
            @include limitLine(3);
        }

        &__subtitle {
            font-size: 14px;
        }

        &__breadcrumbs {
            margin: 10px 0 0 0;

            &-link {
                font-size: 12px;
            }
        }

        &::after {
            clip-path: polygon(0 0, 100% 0, 10% 100%);
            height: 20px;
        }
    }
}
