.tp-constr {
    padding: 250px 0 100px 0;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -50px;
        left: -50px;
        width: 450px;
        height: 200px;
        background: url("@/assets/images/logo.png") no-repeat center center/contain;
        opacity: 0.4;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 180px;
        background: #222;
        content: "";
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &__desc {
        text-align: center;
        width: 80%;
        font: 300 16px / 1.4 "Montserrat";

        span {
            color: $accent;
        }

        a {
            transition: 0.3s;
            cursor: pointer;
            font-weight: bold;
            color: $accent;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &__image {
        width: 300px;
        height: 300px;
        filter: hue-rotate(233deg);
        opacity: 0.8;
        object-fit: contain;
    }

    &__title {
        font: 700 32px / 1.1 "Montserrat";
        text-align: center;

        span {
            color: $accent;
        }
    }
}

@media (max-width: 992px) {
    .tp-constr {
        &::before {
            height: 100px;
        }
    }
}

@media (max-width: 768px) {
    .tp-constr {
        padding: 150px 0 100px 0;
    }
}

@media (max-width: 576px) {
    .tp-constr {
        padding: 120px 0;

        &::before {
            display: none;
        }

        &::after {
            width: 250px;
            height: 120px;
            bottom: -20px;
            left: -20px;
        }

        &__image {
            width: 200px;
            height: 200px;
        }

        &__title {
            font: 700 22px / 1.1 "Montserrat";
        }

        &__desc {
            width: 90%;
            font: 300 12px / 1.4 "Montserrat";
        }
    }
}
