.tpbtn {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    padding: 14px 30px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    background: $accent;
    will-change: transform;
    pointer-events: none;

    &__icon {
        width: 15px;
        height: 15px;
        object-fit: contain;
        display: flex;
    }

    &__text {
        color: #ffffff;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 140% */
        transition: 0.2s;
        white-space: nowrap;
    }

    &__loading {
        width: 26px;
        height: 26px;
        display: flex;
        object-fit: contain;
        animation: rotater 2s linear infinite;
        position: absolute;
        z-index: 3;
        top: calc(50% - 13px);
        left: calc(50% - 13px);
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
    }

    &.tp-loading {
        opacity: 0.7;
        pointer-events: none;

        &::after,
        .tpbtn__loading {
            opacity: 1;
            visibility: visible;
        }
    }

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(1);
    }

    &::after {
        background: $accent;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        content: "";
    }
}
