.tpmodal {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &__holder {
        max-height: 100%;
        position: relative;
        overflow: auto;
        padding: 50px;
        -webkit-box-shadow: 0px 0px 74px -4px rgba(34, 60, 80, 0.14);
        background: #ffffff;
        box-shadow: 0px 0px 74px -4px rgba(34, 60, 80, 0.14);
        -moz-box-shadow: 0px 0px 74px -4px rgba(34, 60, 80, 0.14);
        border-radius: 5px;
        transform: translateX(100px);
        transition: 0.6s;
        opacity: 0;
        height: 100%;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &__body {
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__header {
        &-title {
            text-align: center;
            font-size: 22px;
            color: #333;
            text-align: center;
            margin-bottom: 30px;
        }

        &-button {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 40px;
            padding: 5px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s;

            img {
                width: 100%;
                height: 100%;
                display: flex;
                object-fit: contain;
            }

            &:hover {
                transform: rotate(90deg);
            }
        }
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        width: 100%;
    }

    &.opened {
        opacity: 1;
        visibility: visible;

        .tpmodal__holder {
            // animation: fade-up 0.3s ease-in-out 0.3s 1 forwards;
            transform: translate(0);
            opacity: 1;
        }
    }
}

@media (max-width: 768px) {
    .tpmodal {
        padding: 40px;

        &__holder {
            transform: none;
            opacity: 0;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            height: auto;
        }

        &__header {
            &-title {
                font-size: 24px;
            }

            &-button {
                position: absolute;
                top: 40px;
                right: 40px;
                width: 50px;
                padding: 5px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 0.3s;

                img {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    object-fit: contain;
                }

                &:hover {
                    transform: rotate(90deg);
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .tpmodal {
        padding: 30px;

        &__holder {
            padding: 40px 20px;
            justify-content: flex-start;
        }

        &__header {
            background: #fff;

            &-title {
                font-size: 16px;
                margin: 0 0 15px 0;
            }

            &-button {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 40px;
                height: 40px;

                &:hover {
                    transform: none;
                }
            }
        }

        &__body {
            flex-grow: 1;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }
    }
}
