.tp-newscard {
    // width: 33.3%;
    background-color: #fff;

    &__image {
        margin: 0 0 30px 0;
        img {
            width: 100%;
            height: 215px;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        &-date {
            font-size: 14px;
            font-weight: 600;
            line-height: 120%;
            color: #222;
            margin: 0 0 20px 0;
            opacity: 0.7;
        }
        &-title {
            font-size: 22px;
            font-weight: 700;
            color: #222;
            line-height: 120%;
            margin: 0 0 16px 0;
        }
        &-desc {
            font-size: 16px;
            line-height: 120%;
            color: #222;
        }
        &-btn {
            position: relative;
            display: inline-block;
            font-size: 16px;
            font-weight: 700;
            line-height: 120%;
            color: #222;
            margin-top: 20px;
            transition: 0.3s;
            &::after {
                content: "";
                display: flex;
                height: 6px;
                transition: 0.3s;
                -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
                clip-path: polygon(0 100%, 100% 0, 100% 100%);
                background: #e2b71c;
                filter: brightness(0.7);
            }
            &:hover {
                color: #a89324;
                &::after {
                    filter: none;
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .tp-newscard {
        &__image {
            margin: 0 0 20px 0;

            img {
                height: auto;
                aspect-ratio: 3 / 2;
            }
        }

        &__content {
            &-date {
                margin: 0 0 5px 0;
            }
            &-title {
                font-size: 18px;
                margin: 0 0 15px 0;
                @include limitLine(3);
            }
        }
    }
}

@media (max-width: 992px) {
    .tp-newscard {
        &__content {
            &-desc {
                @include limitLine(7);
                font-size: 14px;
            }
        }
    }
}
