.tp-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &__body {
        width: 70px;
        height: 70px;
        position: relative;
    }

    &__circle {
        width: 100%;
        height: 100%;
        background-color: $accent;
        border-radius: 50%;
        position: absolute;
        transform-origin: center;

        &.circle-front {
            opacity: 1;
        }

        &.circle-rear {
            animation: rear-grow 1s infinite, fade-out 2s 1s infinite;
        }
    }

    &.none {
        opacity: 0;
        visibility: hidden;
    }
}
