.tp-footer {
    position: relative;
    z-index: 1;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 40px;
    color: #999;
    background: #222;

    &__head {
        width: 30%;
        flex-shrink: 0;
    }
    &__contact {
        width: 25%;
        flex-shrink: 0;
    }

    &__nav {
        flex-grow: 1;
    }

    &__inner {
        display: flex;
    }
    &__inner-box {
        // max-width: 25%;
        // width: 100%;
        padding: 0 15px;
    }
    &__logo {
        img {
            width: 200px;
            height: 85px;
            object-fit: contain;
        }
    }
    &__head-text {
        color: #999;
        margin-top: 30px;
        margin-bottom: 18px;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.1);
    }
    &__title {
        margin-bottom: 20px;
        color: #fff;
    }
    &__follow-input {
        position: relative;
    }
    &__follow-input input {
        border: none;
        outline: none;
        background: none;
        width: -webkit-fill-available;
        height: 55px;
        padding-left: 20px;
        padding-right: 40px;
        font-size: 12px;
        color: #a9aeb3;
        border-radius: 0;
        box-shadow: none;
        letter-spacing: -0.12px;
        background: #2a2e2f;
        transition: all 0.3s ease;
    }
    &__follow-input input:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    &__follow-input img {
        position: absolute;
        top: 19px;
        right: 18px;
        width: 18px;
        height: 18px;
        object-fit: contain;
    }
    &__nav-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__nav-item {
        text-decoration: none;
        color: #cfcfcf;
        font-size: 15px;
        line-height: 120%;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    &__nav-item:hover {
        color: #a89324;
    }
    &__link-icon {
        transition: all 0.3s ease;
        width: 6px;
        height: 18px;
        object-fit: contain;

        &.tp-contacticon {
            width: 18px;
            height: 18px;
            filter: brightness(0) invert(1);
        }
    }
    &__nav-item:hover &__link-icon {
        filter: brightness(0) saturate(100%) invert(53%) sepia(86%) saturate(384%) hue-rotate(13deg) brightness(91%) contrast(88%);
    }
    &__contact &__nav-links {
        padding-bottom: 22px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.1);
    }
    &__media {
        margin: 25px 0;
        display: flex;
        align-items: flex-start;
        gap: 15px;
    }
    &__media-icon {
        width: 22px;
        height: 22px;
        object-fit: contain;
        transition: all 0.3s ease;
    }
    &__media-item:hover &__media-icon {
        filter: brightness(0) saturate(100%) invert(53%) sepia(86%) saturate(384%) hue-rotate(13deg) brightness(91%) contrast(88%);
    }
    &__rights {
        margin-top: 50px;
        padding-top: 30px;
        color: #999;
        border-top: 1px solid rgba(221, 221, 221, 0.1);
        text-align: center;
    }
}

@media (max-width: 992px) {
    .tp-footer {
        padding: 70px 0 40px 0;

        &__inner {
            flex-wrap: wrap;
        }

        &__head {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0 0 50px 0;

            &-text {
                padding: 0;
                margin: 10px 0 20px 0;
            }
        }

        &__nav {
            width: 30%;
            padding: 0 20px;
        }

        &__contact {
            width: 35%;
            padding: 0 20px;
        }
    }
}

@media (max-width: 768px) {
    .tp-footer {
        &__contact {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;
            margin: 40px 0 0 0;
            padding: 0 20px;
        }
    }
}

@media (max-width: 576px) {
    .tp-footer {
        padding: 50px 0 20px 0;

        &__head {
            &-text {
                font-size: 14px;
                line-height: 1.4;
            }
        }

        &__rights {
            padding: 20px 0 0;
            margin: 20px 0 0;

            p {
                font-size: 12px;
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}
