<template>
    <div>
        <SectionIntro />
        <SectionSubintro />
        <SectionWhywe />
        <SectionTours />
        <SectionGallery />
        <SectionContacts />
        <SectionComments />
        <SectionNews />
        <MobPopUp style="display: none" />
    </div>
</template>

<script>
import SectionIntro from "./sectionIntro.vue";
import SectionSubintro from "./sectionSubintro.vue";
import SectionNews from "./sectionNews.vue";
import SectionComments from "./sectionComments.vue";
import SectionTours from "./sectionTours.vue";
import SectionContacts from "./sectionContact.vue";
import SectionGallery from "./sectionGallery.vue";
import SectionWhywe from "@/views/corporate/sectionWhywe.vue";
import MobPopUp from "@/components/compMobilePopup.vue";

export default {
    name: "page-main",
    components: {
        SectionIntro,
        SectionNews,
        SectionSubintro,
        SectionComments,
        SectionWhywe,
        SectionTours,
        SectionContacts,
        SectionGallery,
        MobPopUp,
    },
};
</script>
