<template>
    <section class="tp-tours">
        <div class="tp-tours__titling">
            <div class="tp-tours__titling-content container">
                <h2 class="tp-tours__titling-title">Открытие горизонтов с Tropic Tour</h2>
                <p class="tp-tours__titling-desc">Персонализированные маршруты и эксклюзивные приключения по всему миру. Путешествуйте с комфортом и стилем.</p>
            </div>
        </div>
        <div class="tp-tours__content container">
            <div class="tp-tours__list">
                <div
                    v-for="(item, index) in theToursData"
                    :key="index"
                    class="tp-tour__card tp-tourcard">
                    <img
                        class="tp-tourcard__image"
                        :src="item.image"
                        alt="tour" />
                    <div class="tp-tourcard__pricebar">
                        <h3 class="tp-tourcard__title">{{ item.title }}</h3>

                        <p class="tp-tourcard__price">
                            {{ item.price }}
                            <span>{{ item.pricePrefix }}</span>
                        </p>
                    </div>

                    <div class="tp-tourcard__info">
                        <img
                            class="tp-tourcard__info-icon"
                            src="@/assets/icons/icon-location.svg"
                            alt="photo" />
                        <p class="tp-tourcard__info-label">{{ item.location }}</p>
                    </div>
                    <div class="tp-tourcard__info">
                        <img
                            class="tp-tourcard__info-icon"
                            src="@/assets/icons/icon-calendar.svg"
                            alt="photo" />
                        <p class="tp-tourcard__info-label">{{ item.duration }}</p>
                    </div>
                </div>
            </div>
            <div class="tp-tours__seeall">
                <CompButton
                    class="tp-tours__seeall-btn"
                    :tpbtnText="'Посмотреть все предложения'"
                    :tpbtnUid="'link-tours-seall'"
                    :tpbtnLink="'/tours/alltours'" />
            </div>
            <div class="tp-tours__stats">
                <div
                    v-for="(item, index) in theConsData"
                    :key="index"
                    class="tp-tours__stat">
                    <img
                        class="tp-tours__stat-image"
                        :src="item.icon"
                        alt="icon" />
                    <h4 class="tp-tours__stat-count">
                        {{ item.count }}
                        <span>+</span>
                    </h4>
                    <p class="tp-tours__stat-label">{{ item.desc }}</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import CompButton from "@/components/compButton.vue";

export default {
    name: "section-tours",
    components: {CompButton},
    data() {
        return {
            theToursData: [
                {
                    image: require("@/assets/images/template/tour-1.jpg"),
                    title: "The Time Hotel Nha Trang",
                    desc: "Недельные туры для групп до 12 человек. Включая роскошные отели, эксклюзивные экскурсии и уникальные маршруты",
                    price: "1 651 USD",
                    pricePrefix: "от/за тур",
                    location: "Вьетнам | 21.06-01.07",
                    duration: "9+1 ночей",
                    link: "#!",
                },
                {
                    image: require("@/assets/images/template/tour-2.jpg"),
                    title: "Vinpearl Resort Nha Trang 5*",
                    desc: "Идиллическое путешествие вдоль Французской Ривьеры. Живописные пейзажи, пляжи и курорты мирового класса.",
                    price: "2 518 USD",
                    pricePrefix: "от/за тур",
                    location: "Вьетнам | 21.06-01.07",
                    duration: " 9+1 ночей",
                    link: "#!",
                },
                {
                    image: require("@/assets/images/template/tour-3.jpg"),
                    title: " Annova Nha Trang Hotel 5*",
                    desc: "Путешествие по швейцарским Альпам с гидом, включая посещение горных курортов и шоколадных фабрик.",
                    price: "1 887 USD",
                    pricePrefix: "от/за тур",
                    location: "Вьетнам | 21.06-01.07",
                    duration: " 9+1 ночей",
                    link: "#!",
                },
                {
                    image: require("@/assets/images/template/tour-4.jpg"),
                    title: "New Badawia Sharm 3*",
                    desc: "Откройте для себя тайны древнего Египта, посетите пирамиды и плывите по Нилу на роскошной лодке.",
                    price: "940 USD",
                    pricePrefix: "от/за тур",
                    location: "Египет | 24.06-01.07",
                    duration: " 7 ночей",
                    link: "#!",
                },
                {
                    image: require("@/assets/images/template/tour-5.jpg"),
                    title: " Sunrise Grand Select Diamond Beach 5* Deluxe",
                    desc: "Насладитесь невероятным сафари в Серенгети с комфортом лучших лоджей и кемпингов.",
                    price: "2 128 USD",
                    pricePrefix: "от/за тур",
                    location: "Египет | 24.06-01.07",
                    duration: " 7 ночей",
                    link: "#!",
                },
                {
                    image: require("@/assets/images/template/tour-6.jpg"),
                    title: " Rixos Radamis Blue Planet 5*",
                    desc: "Отдых на белоснежных пляжах и изучение подводного мира на островах Барбадос и Сент-Люсия.",
                    price: "2 435$",
                    pricePrefix: "от/за тур",
                    location: "Египет | 24.06-01.07",
                    duration: " 7 ночей",
                    link: "#!",
                },
                {
                    image: require("@/assets/images/template/tour-7.jpg"),
                    title: "Smart Price Тбилиси (2+4+1)",
                    desc: "Путешествие по Андам, включая походы к Мачу-Пикчу и встречи с культурой кечуа.",
                    price: "1 114$",
                    pricePrefix: "от/за тур",
                    location: "Тбилиси - Батуми | 24.06-01.07",
                    duration: " 7 ночей",
                    link: "#!",
                },
                {
                    image: require("@/assets/images/template/tour-8.jpg"),
                    title: "Чудеса Грузии Luxury",
                    desc: "Погрузитесь в культуру Японии во время сезона цветения сакуры с гидом и чаем церемонии.",
                    price: "2 409$",
                    pricePrefix: "от/за тур",
                    location: "Грузия | 24.06-01.07",
                    duration: " 7 ночей",
                    link: "#!",
                },
            ],
            theConsData: [
                {
                    icon: require("@/assets/icons/icon-advantage-2.svg"),
                    count: "14k",
                    desc: "Впечатленных туристов",
                },
                {
                    icon: require("@/assets/icons/icon-advantage-1.svg"),
                    count: "80",
                    desc: "Предлагаемых стран для путешествий",
                },
                {
                    icon: require("@/assets/icons/icon-advantage-3.svg"),
                    count: "24",
                    desc: "Разновидностей туров",
                },
                {
                    icon: require("@/assets/icons/icon-advantage-4.svg"),
                    count: "7",
                    desc: "Лет профессионального опыта",
                },
            ],
        };
    },
};
</script>
