<template>
    <section class="tp-comments">
        <div class="tp-comments__container container">
            <div class="tp-comments__header">
                <h2>Что говорят о нас...</h2>
                <img
                    src="@/assets/images/static/img-decore.png"
                    alt="decorate element" />
            </div>

            <div
                ref="comments__swiper"
                class="tp-comments__swiper swiper">
                <div class="swiper-wrapper">
                    <div
                        v-for="(comment, index) in thedata"
                        class="tp-comments__slide swiper-slide"
                        :key="'el_' + index">
                        <div class="tp-comments__ava">
                            <img
                                :src="comment.image"
                                alt="user ava" />
                        </div>
                        <p class="tp-comments__text">{{ comment.text }}</p>

                        <div class="tp-comments__commentator">
                            <h3>{{ comment.name }}</h3>
                            <p>{{ comment.position }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Swiper, {Autoplay} from "swiper";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/autoplay";
export default {
    name: "section-comments",
    mounted() {
        new Swiper(this.$refs.comments__swiper, {
            modules: [Autoplay],
            loop: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
                pauseOnMouseEnter: true,
            },
        });
    },
    data() {
        return {
            thedata: [
                {
                    image: require("@/assets/images/template/users/user-1.jpeg"),
                    name: "Мухаммаджанов Рустам",
                    position: "Директор предприятия",
                    text: "С Новым годом! Желаю вам счастья, успехов в бизнесе, больше адекватных клиентов с большими чеками) Спасибо вам, что уже 2 года помогаете нам получать приятные впечатления и наслаждаться красотой этого мира с Новым годом! Спасибо большое) Дай Бог чтобы в новом году летали каждый месяц с вашей помощью))",
                },
                {
                    image: require("@/assets/images/template/users/user-2.jpeg"),
                    name: "Зотова Ольга",
                    position: "Бухгалтер",
                    text: "Все было на высшем уровне, начиная с трансфера заканчивая поездкой. Вы учли абсолютно все. Это была самая лучшая и безопасная поездка. И гостиницы в Стамбуле и Бодруме были отличными. Хабиба спасибо. И спасибо что сами писали и интересовались нами, даже на расстоянии мы с мужем чувствовали Вашу заботу!! Вы лучшая",
                },
                {
                    image: require("@/assets/images/template/users/user-3.png"),
                    name: "Абдуразакова Эвелина",
                    position: "Домохозяйка",
                    text: "Мы прям очень хотели сразу Вам написать и поблагодарить! Мало того, что все на высшем уровне, так еще и терпение Ваше очень помогло. Да и сами Вы прелесть. После такого опыта ей богу уже в другие места обращаться не хочется. У Вас крутая работа интересная, еще и людей счастливыми реально делаете",
                },
            ],
        };
    },
};
</script>
