<template>
    <section class="tp-contact">
        <div class="tp-contact__content container">
            <div class="tp-contact__form-wrapper">
                <h2 class="tp-contact__form-title">Заинтересованы?</h2>
                <p class="tp-contact__form-desc">Заполните анкету ниже и отправьте уведомление, наши професионалы моментально свяжутся с вами для обсуждения начала ваших ярких эмоций</p>

                <CompLeaveapp2
                    class="tp-contact__form"
                    :submitBtnUid="'button-contact-homepage'" />
            </div>
            <div class="tp-contact__faq-wrapper">
                <h2 class="tp-contact__faq-title">Часто задаваемые вопросы</h2>

                <div
                    v-for="(item, index) in faq"
                    :key="index"
                    :class="{'tp-active': index == currentFaq}"
                    class="tp-contact__faq-item tp-faq">
                    <div
                        class="tp-faq__toggler"
                        @click="currentFaq = index">
                        <span class="tp-faq__toggler-num">0{{ index }}</span>
                        <p class="tp-faq__toggler-label">{{ item.question }}</p>
                    </div>
                    <div class="tp-faq__body">
                        <p class="tp-faq__body-txt">{{ item.answer }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import CompLeaveapp2 from "@/components/compLeaveapp2.vue";

export default {
    name: "section-contacts",
    components: {CompLeaveapp2},
    data() {
        return {
            currentFaq: 1,
            faq: [
                {
                    question: "Какие документы потребуются для поездки за границу?",
                    answer: "Ваш заграничный паспорт, ваучер, авиабилеты и страховка.",
                },
                {
                    question: "Когда нужно разрешение на выезд для ребенка?",
                    answer: "Если родители или один родитель не летят в поездку с ребенком, тогда вам потребуется нотариальное разрешение и печать сопровождающего. Исключение из правил поездка в Египет( Шарм Эль Шейх) . По правилам ребенок не достигнувший 21 года, не имеет права въезжать на территорию Шарм Эль Шейха без сопровождения родителей или одного из родителей.",
                },
                {
                    question: "Нужно ли брать с собой «внутренний» паспорт?",
                    answer: "Нет, внутренний паспорт для вашей поездки заграницу не потребуется. Так как всю поездку Вы оформляете только на заграничный паспорт.",
                },
                {
                    question: "Делать ли копии документов в дорогу?",
                    answer: "Нет, мы вам распечатываем полный пакет  документов необходимый для вашего путешествия, так же мы отправляем все в электронном формате.",
                },
                {
                    question: "Какой срок должен быть у загранпаспорта для поездки за границу?",
                    answer: "Срок паспорта должен быть действителен не менее 6 месяцев.",
                },
                {
                    question: "Можно ли выехать за границу, если в паспорте девичья фамилия?",
                    answer: "Можно, если срок действия паспорта актуален.",
                },
                {
                    question: "Почему нельзя заселиться в отель с утра?",
                    answer: "Есть международные нормы поселения в отели. Вселение происходит в 14.00, а выселение в 12.00. Таким образом, у персонала есть 2 часа на уборку номера. В индивидуальном порядке можно договориться о заселении пораньше или отъезде позже. Но даже если такое возможно, то следует быть готовым к дополнительной оплате. Она может быть равна половине суточной стоимости номера или же стоимость за целые сутки.",
                },
                {
                    question: "Что такое «горящий тур»?",
                    answer: "Это тур, который может не продаться по полной цене из-за приближающихся сроков отправки. Поэтому туроператор максимально снижает цену, чтобы его реализовать. Для туриста такие предложения – риск, потому что нет возможности выбора отеля, нельзя запланировать поездку, если вы большой компанией то есть вероятность, что мест всем не хватит.",
                },
                {
                    question: "Что такое раннее бронирование?",
                    answer: "Раннее бронирование — акция, разработанная совместно туроператорами, отелями и авиакомпаниями. Ее смысл заключается в снижении цен на туры при бронировании их заранее.",
                },
                {
                    question: "Сроки рассмотрения заявления?",
                    answer: " Примерные сроки рассмотрения заявлений, зависят от страны подачи. От 14 до 30 рабочих дней. Так же возможны задержки в рассмотрении и будьте готовы что консульство или визовый центр при необходимости может запросить дополнительные документы.",
                },
                {
                    question: "Что будет если получил отказ в Шенгенской визе?",
                    answer: "Если все документы были предоставлены в нужном  количестве и вся необходимая информация была, но все же получили отказ, тогда можно будет подать апелляцию. Желательно при отказе на визу, повторно подавать в тоже консульство.",
                },
                {
                    question: "Можно будет получить визу в одну Шенгенскую зону, но полететь при этом в другую?",
                    answer: "Нет, не желательно. Первый въезд и большее количество дней должно быть в той стране в которой вам одобрили визу.",
                },
                {
                    question: "На что обратить внимание, после получения визы? ",
                    answer: "Тщательно ознакомиться с условиями вашей визы (срок действия, количество въездов и т.д.) Если вы еще этого не сделали, забронируйте билеты на самолет, поезд или другой вид транспорта, а также жилье на время вашей поездки.",
                },
                {
                    question: "Где открывают визы?",
                    answer: "Чтобы получить визу, нужно сдать необходимые документы в представительство (консульство) или  в визовый центр. По предварительной записи.",
                },
                {
                    question: "С чего нужно начинать, после получения визы?",
                    answer: "Тщательно ознакомиться с условиями вашей визы (срок действия, количество въездов и т.д.)  Если вы еще этого не сделали, забронируйте билеты на самолет, поезд или другой вид транспорта, а также жилье на время вашей поездки.",
                },
            ],
        };
    },
};
</script>
