<template>
    <section class="tp-subintro">
        <div class="tp-subintro__content container">
            <div class="tp-subintro__image">
                <img
                    class="tp-subintro__image-file"
                    src="@/assets/images/static/bg-subintro.jpeg"
                    alt="image" />
            </div>
            <div class="tp-subintro__desc">
                <h2 class="tp-subintro__title">Открывая мир вместе с агентством Tropic Tour!</h2>
                <p class="tp-subintro__desctxt">
                    TROPIC-TOUR - Ваш надежный путеводитель в мир путешествий! Мы - компания с безупречной репутацией, гордимся нашим богатым наследием и смотрим в будущее с оптимизмом, предлагая вам лучшие туристические и агентские услуги на рынке.
                </p>
                <ul class="tp-subintro__cons">
                    <li class="tp-subintro__cons-item">Безупречная репутация.</li>
                    <li class="tp-subintro__cons-item">Широкий ассортимент туров.</li>
                    <li class="tp-subintro__cons-item">Персонализированный подход.</li>
                    <li class="tp-subintro__cons-item">Превосходное обслуживание туристов.</li>
                </ul>
                <div class="tp-subintro__signature">
                    <img
                        class="tp-subintro__signature-image"
                        src="@/assets/images/template/ceo-sign.jpeg"
                        alt="signature" />
                    <p class="tp-subintro__signature-founder">Основатель Tropic-Tour / Директор, Лайло Акрамова</p>
                </div>
            </div>
        </div>
        <div class="tp-subintro__advantages container">
            <div
                class="tp-subintro__advantage"
                v-for="(item, index) in thedata"
                :key="index">
                <img
                    class="tp-subintro__advantage-icon"
                    :src="item.image"
                    alt="icon" />
                <h2 class="tp-subintro__advantage-title">{{ item.title }}</h2>
                <p class="tp-subintro__advantage-desc">{{ item.desc }}</p>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-subintro",
    data() {
        return {
            thedata: [
                {
                    title: "Незабываемые Путешествия",
                    desc: "Исследуйте лучшие направления с нами, каждый маршрут – это мастерски скомпонованный путь к новым открытиям и ярким эмоциям.",
                    image: require("@/assets/images/static/advantage-image-1.jpg"),
                },
                {
                    title: "Персонально подобранные туры",
                    desc: "Создайте тур вашей мечты! Индивидуальные пакеты, адаптированные к вашим предпочтениям, обеспечат идеальное путешествие.",
                    image: require("@/assets/images/static/advantage-image-2.jpg"),
                },
                {
                    title: "Внимание ко всем деталям",
                    desc: "Мы прислушиваемся к мелочам, чтобы ваше путешествие было безупречным. Доверьтесь нашему опыту – и путь к приключениям станет легким и радостным.",
                    image: require("@/assets/images/static/advantage-image-3.jpg"),
                },
            ],
        };
    },
};
</script>
