<template>
    <section class="tp-news">
        <div class="tp-news__container container">
            <div class="tp-news__inner-container">
                <div class="tp-news__header">
                    <h2>Последние новости</h2>
                    <p>Предлагаем только самые интересные и проверенные туры.</p>
                    <span>
                        <img
                            src="@/assets/images/static/img-decore.png"
                            alt="decore element" />
                    </span>
                </div>

                <div class="tp-news__list">
                    <mainNewsCard
                        v-for="(item, index) in thenews.slice(0, 3)"
                        :key="index"
                        :newsImage="item.image"
                        :newsTitle="item.title"
                        :newsDate="item.date"
                        :newsDesc="item.desc"
                        :newsLink="`/news/${item.uuid}`" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import mainNewsCard from "@/components/compNewsCard.vue";

export default {
    name: "section-news",
    components: {
        mainNewsCard,
    },
    data() {
        return {
            thenews: [1, 2],
        };
    },
    mounted() {
        fetch("/data/news.json")
            .then((response) => response.json())
            .then((news) => {
                this.thenews = news;
            })
            .catch((error) => console.error("Error loading the JSON:", error));
    },
};
</script>
