<template>
    <section class="tp-intro">
        <div class="tp-intro__content">
            <div
                ref="intro__swiper"
                class="tp-introslider">
                <div class="swiper-wrapper">
                    <div
                        v-for="(item, index) in thedata"
                        :key="'slide' + index"
                        class="swiper-slide tp-introslide">
                        <div class="tp-introslide__content">
                            <img
                                v-if="!item.isVideo"
                                class="tp-introslide__image"
                                :src="item.image"
                                alt="image" />
                            <video
                                disablePictureInPicture
                                webkit-playsinline
                                playsinline
                                v-else
                                class="tp-introslide__video"
                                loop
                                muted
                                autoplay
                                :src="item.image"></video>
                            <div class="tp-introslide__body container">
                                <p class="tp-introslide__location">{{ item.location }}</p>
                                <h3
                                    class="tp-introslide__title"
                                    v-html="item.title"></h3>
                                <p class="tp-introslide__desc">{{ item.desc }}</p>
                                <a
                                    :href="item.link"
                                    target="_blank"
                                    class="tp-introslide__link">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tp-introslider__nav">
                <div
                    :class="['tp-introslider__nav-item', 'intro__swiper-prev', {disabled: isPrevDisabled}]"
                    @click="prevSlide"></div>
                <div
                    :class="['tp-introslider__nav-item', 'intro__swiper-next', {disabled: isNextDisabled}]"
                    @click="nextSlide"></div>
            </div>
        </div>
    </section>
</template>

<script>
import Swiper, {Navigation, Pagination, Autoplay, EffectFade} from "swiper";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/autoplay";

export default {
    name: "section-intro",
    mounted() {
        this.swiper = new Swiper(this.$refs.intro__swiper, {
            modules: [Navigation, Pagination, Autoplay, EffectFade],
            effect: "fade",
            on: {
                slideChange: this.updateNavigationButtons,
            },
        });
        this.updateNavigationButtons();
    },
    methods: {
        updateNavigationButtons() {
            this.isPrevDisabled = this.swiper.isBeginning;
            this.isNextDisabled = this.swiper.isEnd;
        },
        prevSlide() {
            if (!this.isPrevDisabled) {
                this.swiper.slidePrev();
            }
        },
        nextSlide() {
            if (!this.isNextDisabled) {
                this.swiper.slideNext();
            }
        },
    },
    data() {
        return {
            swiper: null,
            isPrevDisabled: false,
            isNextDisabled: false,
            thedata: [
                {
                    location: "Мюнхен, Цюрих, Париж, Милан",
                    title: "Эксклюзивный тур на концерт Адель: Погрузитесь в магию музыки",
                    desc: "Приглашаем вас отправиться в музыкально-культурное путешествие, которое оставит незабываемые впечатления! Присоединяйтесь к нашему эксклюзивному авторскому туру на концерт Адель в Мюнхене, дополненному посещением очаровательных городов Цюриха, Парижа, Рима и Милана",
                    image: "/data/news/adele-concert/video.webm",
                    isVideo: true,
                    link: "/news/adele-concert",
                },
                {
                    location: "Катар",
                    title: "Катар Гран-при Формулы-1 для тех, кто всё планирует наперёд",
                    desc: "Формула-1 в Катаре – это настоящий праздник для любителей гонок. Гонка проходит на Международной трассе Лусаила – впервые Гран-При Формула-1 прошел на этой трассе в 2021 году. Гостей ожидают три дня увлекательных гонок и многочисленные развлечения!",
                    image: require("@/assets/images/template/introslide-2.jpg"),
                    isVideo: false,
                    link: "/news/qatar-formula1",
                },
                {
                    location: "Танзания, национальный парк Серенгети",
                    title: "Приключения ждут в Серенгети",
                    desc: "Погрузитесь в дикую природу и испытайте незабываемые сафари в сердце Танзании. Наше агентство предлагает всестороннее обслуживание для вашего путешествия в Серенгети.",
                    image: require("@/assets/images/template/introslide-3.jpg"),
                    isVideo: false,
                    link: "#!",
                },
            ],
        };
    },
};
</script>
