<template>
    <section class="tp-gallery">
        <div class="container">
            <div class="tp-gallery__header">
                <h2>Пейзажи наших туров</h2>
                <p>Наша галерея - это мозаика ярчайших впечатлений: от солнечных восходов на побережье Италии до таинственных закатов в пустынях Египта</p>
                <img
                    src="@/assets/images/static/img-decore.png"
                    alt="icon" />
            </div>
        </div>
        <fancyBox
            :options="{
                Carousel: {
                    infinite: false,
                    bounce: false,
                },
            }">
            <div class="tp-gallery__top">
                <a
                    data-fancybox="gallery"
                    href="https://lipsum.app/id/60/1600x1200">
                    <img src="@/assets/images/template/gallery/item-1.jpeg" />
                </a>
                <a
                    data-fancybox="gallery"
                    href="https://lipsum.app/id/61/1600x1200">
                    <img src="@/assets/images/template/gallery/item-2.jpeg" />
                </a>
                <a
                    data-fancybox="gallery"
                    href="https://lipsum.app/id/62/1600x1200">
                    <img src="@/assets/images/template/gallery/item-3.jpeg" />
                </a>
                <a
                    data-fancybox="gallery"
                    href="https://lipsum.app/id/63/1600x1200">
                    <img src="@/assets/images/template/gallery/item-4.jpeg" />
                </a>
            </div>
            <div class="tp-gallery__bottom">
                <a
                    data-fancybox="gallery"
                    href="https://lipsum.app/id/61/1600x1200">
                    <img src="@/assets/images/template/gallery/item-5.jpeg" />
                </a>
                <a
                    data-fancybox="gallery"
                    href="https://lipsum.app/id/62/1600x1200">
                    <img src="@/assets/images/template/gallery/item-6.jpeg" />
                </a>
                <a
                    data-fancybox="gallery"
                    href="https://lipsum.app/id/63/1600x1200">
                    <img src="@/assets/images/template/gallery/item-7.jpeg" />
                </a>
                <a
                    data-fancybox="gallery"
                    href="https://lipsum.app/id/64/1600x1200">
                    <img src="@/assets/images/template/gallery/item-8.jpeg" />
                </a>
            </div>
        </fancyBox>
    </section>
</template>
<script>
import fancyBox from "@/components/compFancyBox.vue";

export default {
    components: {
        fancyBox,
    },
};
</script>
