<template>
    <div>
        <SectionTheIntro
            :sectionBackground="require('@/assets/images/static/intro-bgs/history.jpg')"
            :sectionCrumbs="[
                {label: 'Главная', link: '/'},
                {label: 'Наша история', link: '/history'},
            ]"
            :sectionTitle="'История вдохновляющая миллионы'"
            :sectionSubtitle="'Ознакомтесь с уникальной историей агентства и вдохновитесь величием нашего развития через путешествия'" />

        <SectionMain />
    </div>
</template>

<script>
import SectionTheIntro from "@/components/compIntroSection.vue";
import SectionMain from "./sectionHisoryList.vue";

export default {
    name: "page-history",
    components: {
        SectionTheIntro,
        SectionMain,
    },
};
</script>
