<template>
    <section
        class="tp-hspage-main"
        ref="historyContainer">
        <div class="tp-hspage-main__lines">
            <span class="tp-hspage-main__lines-line lcurrent"></span>
            <span class="tp-hspage-main__lines-line lall"></span>
        </div>
        <div class="tp-hspage-main__content container">
            <div class="tp-hspage-main__titling">
                <img
                    class="tp-hspage-main__titling-image"
                    src="/data/history/item-1.jpg"
                    alt="history" />

                <h2 class="tp-hspage-main__titling-title">
                    Наша
                    <br />
                    история
                </h2>
            </div>

            <div class="tp-hspage-main__list">
                <div
                    v-for="(item, index) in thehistory"
                    :key="'card_' + index"
                    class="tp-hscard">
                    <h3 class="tp-hscard__year">{{ item.year }}</h3>
                    <p class="tp-hscard__title">{{ item.title }}</p>
                    <p class="tp-hscard__desc">{{ item.description }}</p>

                    <img
                        v-if="item.image"
                        class="tp-hscard__image"
                        :src="item.image"
                        alt="image" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "section-history-main",
    components: {},
    data() {
        return {
            thehistory: null,
        };
    },
    mounted() {
        window.addEventListener("scroll", this.handleScroll);

        fetch("/data/history.json")
            .then((response) => response.json())
            .then((timeline) => {
                this.thehistory = timeline;
            })
            .catch((error) => console.error("Error loading the JSON:", error));
    },
    beforeDestroy() {
        window.removeEventListener("scroll", this.handleScroll);
    },
    methods: {
        handleScroll() {
            const container = this.$refs.historyContainer;
            const timelinepoints = container.querySelectorAll(".tp-hscard");

            timelinepoints.forEach((timelinepoint) => {
                const rect = timelinepoint.getBoundingClientRect();
                const position = rect.top;
                if (position < 450) {
                    timelinepoint.classList.add("active");
                } else {
                    timelinepoint.classList.remove("active");
                }
            });
        },
    },
};
</script>
